force-app/main/default/flows/NF_Contract_ARE_Generation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Last_Group_Product_Option_ID</name>
        <label>Add Last Group Product Option ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LastGroupProductOptionID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Last_Term_Subscriptions.SBQQ__ProductOption__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Last_Term_Subscriptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Revised_Subscription_ID</name>
        <label>Add Revised Subscription ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RevisedSubscriptionID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Revised_Subscriptions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Revised_Subscriptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ARE_Subscription</name>
        <label>ARE Subscription</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_Subscription_Assignment_Collection.NF_ARE_Subscription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ARESubscriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Subscription_Assignment_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Subscription_to_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ARE_Evaluated_False</name>
        <label>Assign ARE Evaluated = False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_ARE_Evaluated_Subscriptions.NF_ARE_Evaluated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_ARE_Subscriptions_to_Collection_ARE_Evaluated_FALSE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ARE_Subscriptions_to_Collection_ARE_Evaluated_FALSE</name>
        <label>Assign ARE Subscriptions to Collection (ARE Evaluated = FALSE)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AREEvaluatedFalseCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_ARE_Evaluated_Subscriptions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ARE_Evaluated_Subscriptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_of_Revised_Subscriptions</name>
        <label>Assign Count of Revised Subscriptions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CountofRevisedSubscriptions</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Revised_Subscriptions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_of_Revised_Subscriptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Opp_to_Collection_1</name>
        <label>Assign New Opp to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunityCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewOpportunity1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Subscription_Assignment_Collection_Opp_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Opp_to_Collection_10</name>
        <label>Assign New Opp to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunityCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewOpportunity10</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Subscription_Assignment_Collection_Opp_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Opp_to_Collection_2</name>
        <label>Assign New Opp to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunityCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewOpportunity2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Subscription_Assignment_Collection_Opp_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Opp_to_Collection_3</name>
        <label>Assign New Opp to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunityCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewOpportunity3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Subscription_Assignment_Collection_Opp_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Opp_to_Collection_4</name>
        <label>Assign New Opp to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunityCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewOpportunity4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Subscription_Assignment_Collection_Opp_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Opp_to_Collection_5</name>
        <label>Assign New Opp to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunityCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewOpportunity5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Subscription_Assignment_Collection_Opp_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Opp_to_Collection_6</name>
        <label>Assign New Opp to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunityCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewOpportunity6</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Subscription_Assignment_Collection_Opp_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Opp_to_Collection_7</name>
        <label>Assign New Opp to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunityCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewOpportunity7</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Subscription_Assignment_Collection_Opp_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Opp_to_Collection_8</name>
        <label>Assign New Opp to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunityCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewOpportunity8</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Subscription_Assignment_Collection_Opp_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Opp_to_Collection_9</name>
        <label>Assign New Opp to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunityCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewOpportunity9</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Subscription_Assignment_Collection_Opp_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Option</name>
        <label>Assign Product Option</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DistinctProductOption</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_ARE_Subscription.SBQQ__ProductOption__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Subscription_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Revised_Subscription_Product_Option</name>
        <label>Assign Revised Subscription Product Option</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RevisedSubscriptionProductOption</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Revised_Subscriptions.SBQQ__ProductOption__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Revised_Subscription_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Subscription_Record</name>
        <label>Assign Subscription Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_ARE_Subscription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ARE_Subscription</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Subscription_to_Collection_1</name>
        <label>Assign Subscription to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RevisedSubscriptionCollectionAREEvaluated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Revised_Subscription_Subtract_1_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Revised_Subscription_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Subscription_to_Collection_10</name>
        <label>Assign Subscription to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RevisedSubscriptionCollectionAREEvaluated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Revised_Subscription_Subtract_1_10</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Revised_Subscription_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Subscription_to_Collection_2</name>
        <label>Assign Subscription to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RevisedSubscriptionCollectionAREEvaluated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Revised_Subscription_Subtract_1_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Revised_Subscription_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Subscription_to_Collection_3</name>
        <label>Assign Subscription to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RevisedSubscriptionCollectionAREEvaluated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Revised_Subscription_Subtract_1_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Revised_Subscription_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Subscription_to_Collection_4</name>
        <label>Assign Subscription to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RevisedSubscriptionCollectionAREEvaluated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Revised_Subscription_Subtract_1_4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Revised_Subscription_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Subscription_to_Collection_5</name>
        <label>Assign Subscription to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RevisedSubscriptionCollectionAREEvaluated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Revised_Subscription_Subtract_1_5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Revised_Subscription_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Subscription_to_Collection_6</name>
        <label>Assign Subscription to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RevisedSubscriptionCollectionAREEvaluated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Revised_Subscription_Subtract_1_6</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Revised_Subscription_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Subscription_to_Collection_7</name>
        <label>Assign Subscription to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RevisedSubscriptionCollectionAREEvaluated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Revised_Subscription_Subtract_1_7</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Revised_Subscription_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Subscription_to_Collection_8</name>
        <label>Assign Subscription to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RevisedSubscriptionCollectionAREEvaluated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Revised_Subscription_Subtract_1_8</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Revised_Subscription_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Subscription_to_Collection_9</name>
        <label>Assign Subscription to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RevisedSubscriptionCollectionAREEvaluated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Revised_Subscription_Subtract_1_9</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Revised_Subscription_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Count_of_ARE_Subscription</name>
        <label>Assignment: Count of ARE Subscription</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CountARESubscriptions</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_ARE_Subscriptions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ARE_Subscription_Present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_Opp_Description_1</name>
        <label>Assignment of Opp Description</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OpportunityDescriptionCollection1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Subscription_Assignment_Collection.SBQQ__ProductName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Subscription_Assignment_Collection.NF_ARE_Evaluated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Subscription_Assignment_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_Opp_Description_10</name>
        <label>Assignment of Opp Description</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OpportunityDescriptionCollection10</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Subscription_Assignment_Collection.SBQQ__ProductName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Subscription_Assignment_Collection.NF_ARE_Evaluated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Subscription_Assignment_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_Opp_Description_2</name>
        <label>Assignment of Opp Description</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OpportunityDescriptionCollection2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Subscription_Assignment_Collection.SBQQ__ProductName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Subscription_Assignment_Collection.NF_ARE_Evaluated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Subscription_Assignment_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_Opp_Description_3</name>
        <label>Assignment of Opp Description</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OpportunityDescriptionCollection3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Subscription_Assignment_Collection.SBQQ__ProductName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Subscription_Assignment_Collection.NF_ARE_Evaluated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Subscription_Assignment_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_Opp_Description_4</name>
        <label>Assignment of Opp Description</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OpportunityDescriptionCollection4</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Subscription_Assignment_Collection.SBQQ__ProductName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Subscription_Assignment_Collection.NF_ARE_Evaluated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Subscription_Assignment_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_Opp_Description_5</name>
        <label>Assignment of Opp Description</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OpportunityDescriptionCollection5</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Subscription_Assignment_Collection.SBQQ__ProductName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Subscription_Assignment_Collection.NF_ARE_Evaluated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Subscription_Assignment_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_Opp_Description_6</name>
        <label>Assignment of Opp Description</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OpportunityDescriptionCollection6</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Subscription_Assignment_Collection.SBQQ__ProductName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Subscription_Assignment_Collection.NF_ARE_Evaluated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Subscription_Assignment_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_Opp_Description_7</name>
        <label>Assignment of Opp Description</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OpportunityDescriptionCollection7</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Subscription_Assignment_Collection.SBQQ__ProductName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Subscription_Assignment_Collection.NF_ARE_Evaluated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Subscription_Assignment_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_Opp_Description_8</name>
        <label>Assignment of Opp Description</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OpportunityDescriptionCollection8</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Subscription_Assignment_Collection.SBQQ__ProductName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Subscription_Assignment_Collection.NF_ARE_Evaluated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Subscription_Assignment_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_Opp_Description_9</name>
        <label>Assignment of Opp Description</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OpportunityDescriptionCollection9</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Subscription_Assignment_Collection.SBQQ__ProductName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Subscription_Assignment_Collection.NF_ARE_Evaluated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Subscription_Assignment_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Opp_1</name>
        <label>Create Opp 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity1.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity1.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppDescription1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity1.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity1.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity1.NF_Billing_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NF_Accounting_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity1.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity1.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity1.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity1.NF_ARE_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Opp_to_Collection_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Opp_10</name>
        <label>Create Opp 10</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity10.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity10.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppDescription10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity10.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity10.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity10.NF_Billing_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NF_Accounting_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity10.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity10.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity10.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity10.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity10.NF_ARE_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Opp_to_Collection_10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Opp_2</name>
        <label>Create Opp 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity2.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity2.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppDescription2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity2.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity2.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity2.NF_Billing_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NF_Accounting_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity2.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity2.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity2.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity2.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity2.NF_ARE_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Opp_to_Collection_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Opp_3</name>
        <label>Create Opp 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity3.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity3.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppDescription3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity3.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity3.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity3.NF_Billing_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NF_Accounting_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity3.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity3.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity3.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity3.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity3.NF_ARE_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Opp_to_Collection_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Opp_4</name>
        <label>Create Opp 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity4.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity4.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppDescription4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity4.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity4.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity4.NF_Billing_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NF_Accounting_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity4.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity4.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity4.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity4.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity4.NF_ARE_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Opp_to_Collection_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Opp_5</name>
        <label>Create Opp 5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity5.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity5.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppDescription5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity5.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity5.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity5.NF_Billing_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NF_Accounting_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity5.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity5.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity5.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity5.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity5.NF_ARE_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Opp_to_Collection_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Opp_6</name>
        <label>Create Opp 6</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity6.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity6.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppDescription6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity6.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity6.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity6.NF_Billing_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NF_Accounting_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity6.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity6.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity6.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity6.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity6.NF_ARE_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Opp_to_Collection_6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Opp_7</name>
        <label>Create Opp 7</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity7.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity7.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppDescription7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity7.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity7.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity7.NF_Billing_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NF_Accounting_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity7.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity7.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity7.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity7.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity7.NF_ARE_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Opp_to_Collection_7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Opp_8</name>
        <label>Create Opp 8</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity8.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity8.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppDescription8</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity8.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity8.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity8.NF_Billing_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NF_Accounting_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity8.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity8.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity8.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity8.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity8.NF_ARE_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Opp_to_Collection_8</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Opp_9</name>
        <label>Create Opp 9</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity9.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity9.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppDescription9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity9.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity9.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity9.NF_Billing_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NF_Accounting_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity9.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity9.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity9.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity9.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity9.NF_ARE_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Opp_to_Collection_9</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ARE_Subscription_Present</name>
        <label>ARE Subscription Present?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_ARE_Evaluated_Fault</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountARESubscriptions</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_ARE_Subscription</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_Subscription_for_Opportunity_Creation</name>
        <label>Assign Subscription for Opportunity Creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Subscription_Assignment_Collection_Opp_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Year_1_Opp_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Subscription_Assignment_Collection_Opp_Creation.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityDescriptionCollection1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewOpportunity1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opp_1</targetReference>
            </connector>
            <label>Year 1 Opp Creation</label>
        </rules>
        <rules>
            <name>Year_2_Opp_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Subscription_Assignment_Collection_Opp_Creation.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityDescriptionCollection2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewOpportunity2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opp_2</targetReference>
            </connector>
            <label>Year 2 Opp Creation</label>
        </rules>
        <rules>
            <name>Year_3_Opp_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Subscription_Assignment_Collection_Opp_Creation.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityDescriptionCollection3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewOpportunity3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opp_3</targetReference>
            </connector>
            <label>Year 3 Opp Creation</label>
        </rules>
        <rules>
            <name>Year_4_Opp_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Subscription_Assignment_Collection_Opp_Creation.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityDescriptionCollection4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewOpportunity4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opp_4</targetReference>
            </connector>
            <label>Year 4 Opp Creation</label>
        </rules>
        <rules>
            <name>Year_5_Opp_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Subscription_Assignment_Collection_Opp_Creation.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityDescriptionCollection5</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewOpportunity5</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opp_5</targetReference>
            </connector>
            <label>Year 5 Opp Creation</label>
        </rules>
        <rules>
            <name>Year_6_Opp_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Subscription_Assignment_Collection_Opp_Creation.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityDescriptionCollection6</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewOpportunity6</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opp_6</targetReference>
            </connector>
            <label>Year 6 Opp Creation</label>
        </rules>
        <rules>
            <name>Year_7_Opp_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Subscription_Assignment_Collection_Opp_Creation.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityDescriptionCollection7</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewOpportunity7</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opp_7</targetReference>
            </connector>
            <label>Year 7 Opp Creation</label>
        </rules>
        <rules>
            <name>Year_8_Opp_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Subscription_Assignment_Collection_Opp_Creation.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityDescriptionCollection8</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewOpportunity8</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opp_8</targetReference>
            </connector>
            <label>Year 8 Opp Creation</label>
        </rules>
        <rules>
            <name>Year_9_Opp_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Subscription_Assignment_Collection_Opp_Creation.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityDescriptionCollection9</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewOpportunity9</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opp_9</targetReference>
            </connector>
            <label>Year 9 Opp Creation</label>
        </rules>
        <rules>
            <name>Year_10_Opp_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Subscription_Assignment_Collection_Opp_Creation.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityDescriptionCollection10</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewOpportunity10</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opp_10</targetReference>
            </connector>
            <label>Year 10 Opp Creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_Subscription_to_Group</name>
        <label>Assign Subscription to Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Subscription_Assignment_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Year_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Subscription_Assignment_Collection.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Subscription_Assignment_Collection.NF_ARE_Evaluated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_Opp_Description_1</targetReference>
            </connector>
            <label>Year 1</label>
        </rules>
        <rules>
            <name>Year_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Subscription_Assignment_Collection.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Subscription_Assignment_Collection.NF_ARE_Evaluated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_Opp_Description_2</targetReference>
            </connector>
            <label>Year 2</label>
        </rules>
        <rules>
            <name>Year_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Subscription_Assignment_Collection.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Subscription_Assignment_Collection.NF_ARE_Evaluated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_Opp_Description_3</targetReference>
            </connector>
            <label>Year 3</label>
        </rules>
        <rules>
            <name>Year_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Subscription_Assignment_Collection.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Subscription_Assignment_Collection.NF_ARE_Evaluated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_Opp_Description_4</targetReference>
            </connector>
            <label>Year 4</label>
        </rules>
        <rules>
            <name>Year_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Subscription_Assignment_Collection.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Subscription_Assignment_Collection.NF_ARE_Evaluated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_Opp_Description_5</targetReference>
            </connector>
            <label>Year 5</label>
        </rules>
        <rules>
            <name>Year_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Subscription_Assignment_Collection.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Subscription_Assignment_Collection.NF_ARE_Evaluated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_Opp_Description_6</targetReference>
            </connector>
            <label>Year 6</label>
        </rules>
        <rules>
            <name>Year_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Subscription_Assignment_Collection.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Subscription_Assignment_Collection.NF_ARE_Evaluated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_Opp_Description_7</targetReference>
            </connector>
            <label>Year 7</label>
        </rules>
        <rules>
            <name>Year_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Subscription_Assignment_Collection.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Subscription_Assignment_Collection.NF_ARE_Evaluated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_Opp_Description_8</targetReference>
            </connector>
            <label>Year 8</label>
        </rules>
        <rules>
            <name>Year_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Subscription_Assignment_Collection.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Subscription_Assignment_Collection.NF_ARE_Evaluated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_Opp_Description_9</targetReference>
            </connector>
            <label>Year 9</label>
        </rules>
        <rules>
            <name>Year_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Subscription_Assignment_Collection.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Subscription_Assignment_Collection.NF_ARE_Evaluated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_Opp_Description_10</targetReference>
            </connector>
            <label>Year 10</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_of_Revised_Subscriptions</name>
        <label>Count of Revised Subscriptions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Last_Term_Subscriptions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountofRevisedSubscriptions</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Revised_Subscriptions</targetReference>
            </connector>
            <label>Greater than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Item_Revised_Subscription</name>
        <label>Current Item Revised Subscription</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Revised_Subscription_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_Label_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Revised_Subscription_Records.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Revised_Subscription_Subtract_1_1</targetReference>
            </connector>
            <label>Segment Label 1</label>
        </rules>
        <rules>
            <name>Segment_Label_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Revised_Subscription_Records.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Revised_Subscription_Subtract_1_2</targetReference>
            </connector>
            <label>Segment Label 2</label>
        </rules>
        <rules>
            <name>Segment_Label_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Revised_Subscription_Records.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Revised_Subscription_Subtract_1_3</targetReference>
            </connector>
            <label>Segment Label 3</label>
        </rules>
        <rules>
            <name>Segment_Label_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Revised_Subscription_Records.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Revised_Subscription_Subtract_1_4</targetReference>
            </connector>
            <label>Segment Label 4</label>
        </rules>
        <rules>
            <name>Segment_Label_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Revised_Subscription_Records.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Revised_Subscription_Subtract_1_5</targetReference>
            </connector>
            <label>Segment Label 5</label>
        </rules>
        <rules>
            <name>Segment_Label_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Revised_Subscription_Records.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Revised_Subscription_Subtract_1_6</targetReference>
            </connector>
            <label>Segment Label 6</label>
        </rules>
        <rules>
            <name>Segment_Label_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Revised_Subscription_Records.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Revised_Subscription_Subtract_1_7</targetReference>
            </connector>
            <label>Segment Label 7</label>
        </rules>
        <rules>
            <name>Segment_Label_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Revised_Subscription_Records.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Revised_Subscription_Subtract_1_8</targetReference>
            </connector>
            <label>Segment Label 8</label>
        </rules>
        <rules>
            <name>Segment_Label_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Revised_Subscription_Records.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Revised_Subscription_Subtract_1_9</targetReference>
            </connector>
            <label>Segment Label 9</label>
        </rules>
        <rules>
            <name>Segment_Label_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Revised_Subscription_Records.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Revised_Subscription_Subtract_1_10</targetReference>
            </connector>
            <label>Segment Label 10</label>
        </rules>
    </decisions>
    <decisions>
        <name>Distinct_Product_Options</name>
        <label>Distinct Product Options</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Product_Option</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Distinct_Product_Option</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DistinctProductOption</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_ARE_Subscription.SBQQ__ProductOption__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_ARE_Subscription</targetReference>
            </connector>
            <label>Not Distinct Product Option</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Subscription_Found_1</name>
        <label>Previous Subscription Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Revised_Subscription_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_Subscription_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Revised_Subscription_Subtract_1_1.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Subscription_to_Collection_1</targetReference>
            </connector>
            <label>Previous Subscription &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Subscription_Found_10</name>
        <label>Previous Subscription Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Revised_Subscription_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_Subscription_0_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Revised_Subscription_Subtract_1_10.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Subscription_to_Collection_10</targetReference>
            </connector>
            <label>Previous Subscription &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Subscription_Found_2</name>
        <label>Previous Subscription Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Revised_Subscription_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_Subscription_0_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Revised_Subscription_Subtract_1_2.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Subscription_to_Collection_2</targetReference>
            </connector>
            <label>Previous Subscription &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Subscription_Found_3</name>
        <label>Previous Subscription Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Revised_Subscription_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_Subscription_0_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Revised_Subscription_Subtract_1_3.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Subscription_to_Collection_3</targetReference>
            </connector>
            <label>Previous Subscription &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Subscription_Found_4</name>
        <label>Previous Subscription Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Revised_Subscription_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_Subscription_0_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Revised_Subscription_Subtract_1_4.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Subscription_to_Collection_4</targetReference>
            </connector>
            <label>Previous Subscription &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Subscription_Found_5</name>
        <label>Previous Subscription Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Revised_Subscription_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_Subscription_0_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Revised_Subscription_Subtract_1_5.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Subscription_to_Collection_5</targetReference>
            </connector>
            <label>Previous Subscription &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Subscription_Found_6</name>
        <label>Previous Subscription Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Revised_Subscription_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_Subscription_0_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Revised_Subscription_Subtract_1_6.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Subscription_to_Collection_6</targetReference>
            </connector>
            <label>Previous Subscription &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Subscription_Found_7</name>
        <label>Previous Subscription Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Revised_Subscription_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_Subscription_0_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Revised_Subscription_Subtract_1_7.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Subscription_to_Collection_7</targetReference>
            </connector>
            <label>Previous Subscription &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Subscription_Found_8</name>
        <label>Previous Subscription Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Revised_Subscription_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_Subscription_0_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Revised_Subscription_Subtract_1_8.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Subscription_to_Collection_8</targetReference>
            </connector>
            <label>Previous Subscription &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Subscription_Found_9</name>
        <label>Previous Subscription Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Revised_Subscription_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_Subscription_0_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Revised_Subscription_Subtract_1_9.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Subscription_to_Collection_9</targetReference>
            </connector>
            <label>Previous Subscription &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unique_Group_Segment_Index_Subscriptions</name>
        <label>Unique Group Segment Index Subscriptions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Revised_Subscription_Product_Option</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Revised_Subscriptions_Product_Option</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RevisedSubscriptionProductOption</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Revised_Subscriptions.SBQQ__ProductOption__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Revised_Subscriptions</targetReference>
            </connector>
            <label>Revised Subscriptions Product Option</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ContractName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name} &amp; &apos; - ARE#&apos; &amp; {!$Record.ContractNumber} &amp; &apos; - &apos; &amp; TEXT(MONTH({!OpportunityCloseDate})) &amp; &apos;/&apos; &amp; TEXT(DAY({!OpportunityCloseDate})) &amp; &apos;/&apos; &amp; TEXT(YEAR({!OpportunityCloseDate}))</expression>
    </formulas>
    <formulas>
        <name>CurrentItemFromLoopGroupSegmentIndex</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Revised_Subscription_Records.NF_Group_Segment_Index__c} - 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>OppDescription1</name>
        <dataType>String</dataType>
        <expression>&apos;The following products/services are up for renewal during this year of the contract:&apos; &amp; 
{!OpportunityDescriptionCollection1}</expression>
    </formulas>
    <formulas>
        <name>OppDescription10</name>
        <dataType>String</dataType>
        <expression>&apos;The following products/services are up for renewal during this year of the contract:&apos; &amp; 
{!OpportunityDescriptionCollection10}</expression>
    </formulas>
    <formulas>
        <name>OppDescription2</name>
        <dataType>String</dataType>
        <expression>&apos;The following products/services are up for renewal during this year of the contract:&apos; &amp; 
{!OpportunityDescriptionCollection2}</expression>
    </formulas>
    <formulas>
        <name>OppDescription3</name>
        <dataType>String</dataType>
        <expression>&apos;The following products/services are up for renewal during this year of the contract:&apos; &amp; 
{!OpportunityDescriptionCollection3}</expression>
    </formulas>
    <formulas>
        <name>OppDescription4</name>
        <dataType>String</dataType>
        <expression>&apos;The following products/services are up for renewal during this year of the contract:&apos; &amp; 
{!OpportunityDescriptionCollection4}</expression>
    </formulas>
    <formulas>
        <name>OppDescription5</name>
        <dataType>String</dataType>
        <expression>&apos;The following products/services are up for renewal during this year of the contract:&apos; &amp; 
{!OpportunityDescriptionCollection5}</expression>
    </formulas>
    <formulas>
        <name>OppDescription6</name>
        <dataType>String</dataType>
        <expression>&apos;The following products/services are up for renewal during this year of the contract:&apos; &amp; 
{!OpportunityDescriptionCollection6}</expression>
    </formulas>
    <formulas>
        <name>OppDescription7</name>
        <dataType>String</dataType>
        <expression>&apos;The following products/services are up for renewal during this year of the contract:&apos; &amp; 
{!OpportunityDescriptionCollection7}</expression>
    </formulas>
    <formulas>
        <name>OppDescription8</name>
        <dataType>String</dataType>
        <expression>&apos;The following products/services are up for renewal during this year of the contract:&apos; &amp; 
{!OpportunityDescriptionCollection8}</expression>
    </formulas>
    <formulas>
        <name>OppDescription9</name>
        <dataType>String</dataType>
        <expression>&apos;The following products/services are up for renewal during this year of the contract:&apos; &amp; 
{!OpportunityDescriptionCollection9}</expression>
    </formulas>
    <formulas>
        <name>OpportunityCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!Loop_Subscription_Assignment_Collection_Opp_Creation.SBQQ__EndDate__c} + 1</expression>
    </formulas>
    <interviewLabel>Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract: ARE Generation</label>
    <loops>
        <name>Loop_ARE_Evaluated_Subscriptions</name>
        <label>Loop ARE Evaluated Subscriptions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>RevisedSubscriptionCollectionAREEvaluated</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ARE_Evaluated_False</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_ARE_Evaluated_to_FALSE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_ARE_Subscription</name>
        <label>Loop ARE Subscription</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_ARE_Subscriptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Distinct_Product_Options</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Subscription_Assignment_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Last_Term_Subscriptions</name>
        <label>Loop Last Term Subscriptions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Last_Term_Subscriptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Last_Group_Product_Option_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_ARE_Subscriptions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Revised_Subscription_Records</name>
        <label>Loop Revised Subscription Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>RevisedSubscriptionID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Current_Item_Revised_Subscription</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_ARE_Evaluated_Subscriptions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Revised_Subscriptions</name>
        <label>Loop Revised Subscriptions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Revised_Subscriptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Unique_Group_Segment_Index_Subscriptions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Revised_Subscription_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Subscription_Assignment_Collection</name>
        <label>Loop Subscription Assignment Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>SubscriptionID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ARE_Subscription</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Subscription_Assignment_Collection_Opp_Creation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Subscription_Assignment_Collection_Opp_Creation</name>
        <label>Loop Subscription Assignment Collection Opp Creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>SubscriptionID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Subscription_for_Opportunity_Creation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_ARE_Subscriptions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ARE_Opportunities</name>
        <label>Create ARE Opportunities</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>NewOpportunityCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_ARE_Subscriptions</name>
        <label>Get ARE Subscriptions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Count_of_ARE_Subscription</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__ProductOption__c</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>LastGroupProductOptionID</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_ARE_Subscription__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__TerminatedDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NF_Bundle_Header_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NF_ARE_Evaluated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <sortField>NF_Group_Segment_Index__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_Term_Subscriptions</name>
        <label>Get Last Term Subscriptions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Last_Term_Subscriptions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__EndDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__TerminatedDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Revised_Subscription_Subtract_1_1</name>
        <label>Get Revised Subscription Subtract 1 - 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Subscription_Found_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentItemFromLoopGroupSegmentIndex</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductOption__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Revised_Subscription_Records.SBQQ__ProductOption__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Revised_Subscription_Subtract_1_10</name>
        <label>Get Revised Subscription Subtract 1 - 10</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Subscription_Found_10</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentItemFromLoopGroupSegmentIndex</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductOption__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Revised_Subscription_Records.SBQQ__ProductOption__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Revised_Subscription_Subtract_1_2</name>
        <label>Get Revised Subscription Subtract 1 - 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Subscription_Found_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentItemFromLoopGroupSegmentIndex</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductOption__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Revised_Subscription_Records.SBQQ__ProductOption__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Revised_Subscription_Subtract_1_3</name>
        <label>Get Revised Subscription Subtract 1 - 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Subscription_Found_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentItemFromLoopGroupSegmentIndex</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductOption__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Revised_Subscription_Records.SBQQ__ProductOption__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Revised_Subscription_Subtract_1_4</name>
        <label>Get Revised Subscription Subtract 1 - 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Subscription_Found_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentItemFromLoopGroupSegmentIndex</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductOption__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Revised_Subscription_Records.SBQQ__ProductOption__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Revised_Subscription_Subtract_1_5</name>
        <label>Get Revised Subscription Subtract 1 - 5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Subscription_Found_5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentItemFromLoopGroupSegmentIndex</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductOption__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Revised_Subscription_Records.SBQQ__ProductOption__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Revised_Subscription_Subtract_1_6</name>
        <label>Get Revised Subscription Subtract 1 - 6</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Subscription_Found_6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentItemFromLoopGroupSegmentIndex</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductOption__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Revised_Subscription_Records.SBQQ__ProductOption__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Revised_Subscription_Subtract_1_7</name>
        <label>Get Revised Subscription Subtract 1 - 7</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Subscription_Found_7</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentItemFromLoopGroupSegmentIndex</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductOption__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Revised_Subscription_Records.SBQQ__ProductOption__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Revised_Subscription_Subtract_1_8</name>
        <label>Get Revised Subscription Subtract 1 - 8</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Subscription_Found_8</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentItemFromLoopGroupSegmentIndex</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductOption__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Revised_Subscription_Records.SBQQ__ProductOption__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Revised_Subscription_Subtract_1_9</name>
        <label>Get Revised Subscription Subtract 1 - 9</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Subscription_Found_9</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentItemFromLoopGroupSegmentIndex</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductOption__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Revised_Subscription_Records.SBQQ__ProductOption__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Revised_Subscriptions</name>
        <label>Get Revised Subscriptions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Count_of_Revised_Subscriptions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_ARE_Evaluated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>NF_Bundle_Header_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Quantity__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__RevisedSubscription__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <sortField>NF_Group_Segment_Index__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ARE_Evaluated</name>
        <label>Update ARE Evaluated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Contract_ARE_Subscription_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_ARE_Evaluated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>NF_ARE_Evaluated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Subscription__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ARE_Evaluated_Fault</name>
        <label>Update ARE Evaluated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_ARE_Subscription_Present_to_False</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_ARE_Evaluated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>NF_ARE_Evaluated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Subscription__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ARE_Evaluated_to_FALSE</name>
        <label>Update ARE Evaluated to FALSE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Last_Term_Subscriptions</targetReference>
        </connector>
        <inputReference>AREEvaluatedFalseCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ARE_Subscription_Present_to_False</name>
        <label>Update ARE Subscription Present to False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>NF_ARE_Subscription_Present__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ARE_Subscriptions</name>
        <label>Update ARE Subscriptions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_ARE_Evaluated</targetReference>
        </connector>
        <inputReference>ARESubscriptions</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_ARE_Subscription_Present</name>
        <label>Update Contract ARE Subscription Present</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Terminated_Subscriptions</targetReference>
        </connector>
        <inputAssignments>
            <field>NF_ARE_Subscription_Present__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Terminated_Subscriptions</name>
        <label>Update Terminated Subscriptions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_ARE_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__TerminatedDate__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>NF_ARE_Subscription__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>NF_ARE_Subscription__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Subscription__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Revised_Subscriptions</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>NF_Number_of_Active_Subscriptions__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NF_Number_of_Active_Subscriptions__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AREEvaluatedFalseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Subscription__c</objectType>
    </variables>
    <variables>
        <name>ARESubscriptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Subscription__c</objectType>
    </variables>
    <variables>
        <name>CountARESubscriptions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountofRevisedSubscriptions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>DistinctProductOption</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LastGroupProductOptionID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewOpportunity1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>NewOpportunity10</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>NewOpportunity2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>NewOpportunity3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>NewOpportunity4</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>NewOpportunity5</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>NewOpportunity6</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>NewOpportunity7</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>NewOpportunity8</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>NewOpportunity9</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>NewOpportunityCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityDescriptionCollection1</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityDescriptionCollection10</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityDescriptionCollection2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityDescriptionCollection3</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityDescriptionCollection4</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityDescriptionCollection5</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityDescriptionCollection6</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityDescriptionCollection7</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityDescriptionCollection8</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityDescriptionCollection9</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RevisedSubscriptionCollectionAREEvaluated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Subscription__c</objectType>
    </variables>
    <variables>
        <name>RevisedSubscriptionID</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Subscription__c</objectType>
    </variables>
    <variables>
        <name>RevisedSubscriptionProductOption</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubscriptionID</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__Subscription__c</objectType>
    </variables>
</Flow>
