force-app/main/default/flows/NF_Quote_Renewal_Grouped_Quote_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Segment_10_Group_Id</name>
        <label>Assign Segment 10 Group Id</label>
        <locationX>138</locationX>
        <locationY>10907</locationY>
        <assignmentItems>
            <assignToReference>Segment10GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Segment_10_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_10_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_10_Groups_to_Delete</name>
        <label>Assign Segment 10 Groups to Delete</label>
        <locationX>402</locationX>
        <locationY>10907</locationY>
        <assignmentItems>
            <assignToReference>Segment10GroupsDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Segment_10_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_10_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_1_Group_Id</name>
        <label>Assign Segment 1 Group Id</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Segment1GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Segment_1_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_1_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_1_Groups_to_Delete</name>
        <label>Assign Segment 1 Groups to Delete</label>
        <locationX>402</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Segment1GroupsDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Segment_1_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_1_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_2_Group_Id</name>
        <label>Assign Segment 2 Group Id</label>
        <locationX>138</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>Segment2GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Segment_2_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_2_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_2_Groups_to_Delete</name>
        <label>Assign Segment 2 Groups to Delete</label>
        <locationX>402</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>Segment2GroupsDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Segment_2_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_2_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_3_Group_Id</name>
        <label>Assign Segment 3 Group Id</label>
        <locationX>138</locationX>
        <locationY>3095</locationY>
        <assignmentItems>
            <assignToReference>Segment3GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Segment_3_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_3_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_3_Groups_to_Delete</name>
        <label>Assign Segment 3 Groups to Delete</label>
        <locationX>402</locationX>
        <locationY>3095</locationY>
        <assignmentItems>
            <assignToReference>Segment3GroupsDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Segment_3_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_3_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_4_Group_Id</name>
        <label>Assign Segment 4 Group Id</label>
        <locationX>138</locationX>
        <locationY>4211</locationY>
        <assignmentItems>
            <assignToReference>Segment4GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Segment_4_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_4_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_4_Groups_to_Delete</name>
        <label>Assign Segment 4 Groups to Delete</label>
        <locationX>402</locationX>
        <locationY>4211</locationY>
        <assignmentItems>
            <assignToReference>Segment4GroupsDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Segment_4_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_4_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_5_Group_Id</name>
        <label>Assign Segment 5 Group Id</label>
        <locationX>138</locationX>
        <locationY>5327</locationY>
        <assignmentItems>
            <assignToReference>Segment5GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Segment_5_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_5_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_5_Groups_to_Delete</name>
        <label>Assign Segment 5 Groups to Delete</label>
        <locationX>402</locationX>
        <locationY>5327</locationY>
        <assignmentItems>
            <assignToReference>Segment5GroupsDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Segment_5_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_5_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_6_Group_Id</name>
        <label>Assign Segment 6 Group Id</label>
        <locationX>138</locationX>
        <locationY>6443</locationY>
        <assignmentItems>
            <assignToReference>Segment6GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Segment_6_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_6_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_6_Groups_to_Delete</name>
        <label>Assign Segment 6 Groups to Delete</label>
        <locationX>402</locationX>
        <locationY>6443</locationY>
        <assignmentItems>
            <assignToReference>Segment6GroupsDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Segment_6_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_6_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_7_Group_Id</name>
        <label>Assign Segment 7 Group Id</label>
        <locationX>138</locationX>
        <locationY>7559</locationY>
        <assignmentItems>
            <assignToReference>Segment7GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Segment_7_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_7_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_7_Groups_to_Delete</name>
        <label>Assign Segment 7 Groups to Delete</label>
        <locationX>402</locationX>
        <locationY>7559</locationY>
        <assignmentItems>
            <assignToReference>Segment7GroupsDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Segment_7_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_7_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_8_Group_Id</name>
        <label>Assign Segment 8 Group Id</label>
        <locationX>138</locationX>
        <locationY>8675</locationY>
        <assignmentItems>
            <assignToReference>Segment8GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Segment_8_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_8_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_8_Groups_to_Delete</name>
        <label>Assign Segment 8 Groups to Delete</label>
        <locationX>402</locationX>
        <locationY>8675</locationY>
        <assignmentItems>
            <assignToReference>Segment8GroupsDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Segment_8_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_8_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_9_Group_Id</name>
        <label>Assign Segment 9 Group Id</label>
        <locationX>138</locationX>
        <locationY>9791</locationY>
        <assignmentItems>
            <assignToReference>Segment9GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Segment_9_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_9_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_9_Groups_to_Delete</name>
        <label>Assign Segment 9 Groups to Delete</label>
        <locationX>402</locationX>
        <locationY>9791</locationY>
        <assignmentItems>
            <assignToReference>Segment9GroupsDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Segment_9_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_9_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_QLG_Collection</name>
        <label>Assign to QLG Collection</label>
        <locationX>1590</locationX>
        <locationY>11999</locationY>
        <assignmentItems>
            <assignToReference>Collection_QLG</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Quote_Line_Groups</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Line_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_QLG_1</name>
        <label>Assignment QLG 1</label>
        <locationX>270</locationX>
        <locationY>11807</locationY>
        <assignmentItems>
            <assignToReference>Loop_Quote_Line_Groups.SBQQ__StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Segment1StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Segment1GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Line_Groups.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_QLG_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_QLG_10</name>
        <label>Assignment QLG 10</label>
        <locationX>2646</locationX>
        <locationY>11807</locationY>
        <assignmentItems>
            <assignToReference>Loop_Quote_Line_Groups.SBQQ__StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Segment10StartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_QLG_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_QLG_2</name>
        <label>Assignment QLG 2</label>
        <locationX>534</locationX>
        <locationY>11807</locationY>
        <assignmentItems>
            <assignToReference>Loop_Quote_Line_Groups.SBQQ__StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Segment2StartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_QLG_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_QLG_3</name>
        <label>Assignment QLG 3</label>
        <locationX>798</locationX>
        <locationY>11807</locationY>
        <assignmentItems>
            <assignToReference>Loop_Quote_Line_Groups.SBQQ__StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Segment3StartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_QLG_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_QLG_4</name>
        <label>Assignment QLG 4</label>
        <locationX>1062</locationX>
        <locationY>11807</locationY>
        <assignmentItems>
            <assignToReference>Loop_Quote_Line_Groups.SBQQ__StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Segment4StartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_QLG_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_QLG_5</name>
        <label>Assignment QLG 5</label>
        <locationX>1326</locationX>
        <locationY>11807</locationY>
        <assignmentItems>
            <assignToReference>Loop_Quote_Line_Groups.SBQQ__StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Segment5StartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_QLG_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_QLG_6</name>
        <label>Assignment QLG 6</label>
        <locationX>1590</locationX>
        <locationY>11807</locationY>
        <assignmentItems>
            <assignToReference>Loop_Quote_Line_Groups.SBQQ__StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Segment6StartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_QLG_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_QLG_7</name>
        <label>Assignment QLG 7</label>
        <locationX>1854</locationX>
        <locationY>11807</locationY>
        <assignmentItems>
            <assignToReference>Loop_Quote_Line_Groups.SBQQ__StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Segment7StartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_QLG_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_QLG_8</name>
        <label>Assignment QLG 8</label>
        <locationX>2118</locationX>
        <locationY>11807</locationY>
        <assignmentItems>
            <assignToReference>Loop_Quote_Line_Groups.SBQQ__StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Segment8StartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_QLG_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_QLG_9</name>
        <label>Assignment QLG 9</label>
        <locationX>2382</locationX>
        <locationY>11807</locationY>
        <assignmentItems>
            <assignToReference>Loop_Quote_Line_Groups.SBQQ__StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Segment9StartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_QLG_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Groups_of_Segment_1</name>
        <label>Count Groups of Segment 1</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Segment1GroupCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Segment_1_Quote_Line_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_of_Segment_1_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Groups_of_Segment_10</name>
        <label>Count Groups of Segment 10</label>
        <locationX>182</locationX>
        <locationY>10475</locationY>
        <assignmentItems>
            <assignToReference>Segment10GroupCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Segment_10_Quote_Line_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_of_Segment_10_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Groups_of_Segment_2</name>
        <label>Count Groups of Segment 2</label>
        <locationX>182</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>Segment2GroupCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Segment_2_Quote_Line_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_of_Segment_2_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Groups_of_Segment_3</name>
        <label>Count Groups of Segment 3</label>
        <locationX>182</locationX>
        <locationY>2663</locationY>
        <assignmentItems>
            <assignToReference>Segment3GroupCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Segment_3_Quote_Line_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_of_Segment_3_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Groups_of_Segment_4</name>
        <label>Count Groups of Segment 4</label>
        <locationX>182</locationX>
        <locationY>3779</locationY>
        <assignmentItems>
            <assignToReference>Segment4GroupCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Segment_4_Quote_Line_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_of_Segment_4_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Groups_of_Segment_5</name>
        <label>Count Groups of Segment 5</label>
        <locationX>182</locationX>
        <locationY>4895</locationY>
        <assignmentItems>
            <assignToReference>Segment5GroupCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Segment_5_Quote_Line_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_of_Segment_5_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Groups_of_Segment_6</name>
        <label>Count Groups of Segment 6</label>
        <locationX>182</locationX>
        <locationY>6011</locationY>
        <assignmentItems>
            <assignToReference>Segment6GroupCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Segment_6_Quote_Line_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_of_Segment_6_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Groups_of_Segment_7</name>
        <label>Count Groups of Segment 7</label>
        <locationX>182</locationX>
        <locationY>7127</locationY>
        <assignmentItems>
            <assignToReference>Segment7GroupCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Segment_7_Quote_Line_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_of_Segment_7_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Groups_of_Segment_8</name>
        <label>Count Groups of Segment 8</label>
        <locationX>182</locationX>
        <locationY>8243</locationY>
        <assignmentItems>
            <assignToReference>Segment8GroupCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Segment_8_Quote_Line_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_of_Segment_8_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Groups_of_Segment_9</name>
        <label>Count Groups of Segment 9</label>
        <locationX>182</locationX>
        <locationY>9359</locationY>
        <assignmentItems>
            <assignToReference>Segment9GroupCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Segment_9_Quote_Line_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_of_Segment_9_Groups</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Count_of_Segment_10_Groups</name>
        <label>Count of Segment 10 Groups</label>
        <locationX>182</locationX>
        <locationY>10583</locationY>
        <defaultConnector>
            <targetReference>Get_Quote_Line_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Segment 10 Groups EQUALS 1</defaultConnectorLabel>
        <rules>
            <name>Segment_10_Groups_GREATER_THAN_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment10GroupCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Segment_10_Group</targetReference>
            </connector>
            <label>Segment 10 Groups GREATER THAN 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_of_Segment_1_Groups</name>
        <label>Count of Segment 1 Groups</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_2_Quote_Line_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Segment 1 Groups EQUALS 1</defaultConnectorLabel>
        <rules>
            <name>Segment_1_Groups_GREATER_THAN_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment1GroupCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Segment_1_Group</targetReference>
            </connector>
            <label>Segment 1 Groups GREATER THAN 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_of_Segment_2_Groups</name>
        <label>Count of Segment 2 Groups</label>
        <locationX>182</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_3_Quote_Line_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Segment 2 Groups EQUALS 1</defaultConnectorLabel>
        <rules>
            <name>Segment_2_Groups_GREATER_THAN_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment2GroupCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Segment_2_Group</targetReference>
            </connector>
            <label>Segment 2 Groups GREATER THAN 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_of_Segment_3_Groups</name>
        <label>Count of Segment 3 Groups</label>
        <locationX>182</locationX>
        <locationY>2771</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_4_Quote_Line_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Segment 3 Groups EQUALS 1</defaultConnectorLabel>
        <rules>
            <name>Segment_3_Groups_GREATER_THAN_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment3GroupCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Segment_3_Group</targetReference>
            </connector>
            <label>Segment 3 Groups GREATER THAN 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_of_Segment_4_Groups</name>
        <label>Count of Segment 4 Groups</label>
        <locationX>182</locationX>
        <locationY>3887</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_5_Quote_Line_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Segment 4 Groups EQUALS 1</defaultConnectorLabel>
        <rules>
            <name>Segment_4_Groups_GREATER_THAN_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment4GroupCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Segment_4_Group</targetReference>
            </connector>
            <label>Segment 4 Groups GREATER THAN 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_of_Segment_5_Groups</name>
        <label>Count of Segment 5 Groups</label>
        <locationX>182</locationX>
        <locationY>5003</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_6_Quote_Line_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Segment 5 Groups EQUALS 1</defaultConnectorLabel>
        <rules>
            <name>Segment_5_Groups_GREATER_THAN_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment5GroupCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Segment_5_Group</targetReference>
            </connector>
            <label>Segment 5 Groups GREATER THAN 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_of_Segment_6_Groups</name>
        <label>Count of Segment 6 Groups</label>
        <locationX>182</locationX>
        <locationY>6119</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_7_Quote_Line_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Segment 6 Groups EQUALS 1</defaultConnectorLabel>
        <rules>
            <name>Segment_6_Groups_GREATER_THAN_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment6GroupCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Segment_6_Group</targetReference>
            </connector>
            <label>Segment 6 Groups GREATER THAN 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_of_Segment_7_Groups</name>
        <label>Count of Segment 7 Groups</label>
        <locationX>182</locationX>
        <locationY>7235</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_8_Quote_Line_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Segment 7 Groups EQUALS 1</defaultConnectorLabel>
        <rules>
            <name>Segment_7_Groups_GREATER_THAN_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment7GroupCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Segment_7_Group</targetReference>
            </connector>
            <label>Segment 7 Groups GREATER THAN 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_of_Segment_8_Groups</name>
        <label>Count of Segment 8 Groups</label>
        <locationX>182</locationX>
        <locationY>8351</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_9_Quote_Line_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Segment 8 Groups EQUALS 1</defaultConnectorLabel>
        <rules>
            <name>Segment_8_Groups_GREATER_THAN_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment8GroupCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Segment_8_Group</targetReference>
            </connector>
            <label>Segment 8 Groups GREATER THAN 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_of_Segment_9_Groups</name>
        <label>Count of Segment 9 Groups</label>
        <locationX>182</locationX>
        <locationY>9467</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_10_Quote_Line_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Segment 9 Groups EQUALS 1</defaultConnectorLabel>
        <rules>
            <name>Segment_9_Groups_GREATER_THAN_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment9GroupCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Segment_9_Group</targetReference>
            </connector>
            <label>Segment 9 Groups GREATER THAN 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_10_Group_Id_NULL</name>
        <label>Segment 10 Group Id NULL</label>
        <locationX>270</locationX>
        <locationY>10799</locationY>
        <defaultConnector>
            <targetReference>Assign_Segment_10_Groups_to_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_10_Group_Id_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment10GroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Segment_10_Group_Id</targetReference>
            </connector>
            <label>Segment 10 Group Id Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_1_Group_Id_NULL</name>
        <label>Segment 1 Group Id NULL</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Assign_Segment_1_Groups_to_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_1_Group_Id_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment1GroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Segment_1_Group_Id</targetReference>
            </connector>
            <label>Segment 1 Group Id Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_2_Group_Id_NULL</name>
        <label>Segment 2 Group Id NULL</label>
        <locationX>270</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>Assign_Segment_2_Groups_to_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_2_Group_Id_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment2GroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Segment_2_Group_Id</targetReference>
            </connector>
            <label>Segment 2 Group Id Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_3_Group_Id_NULL</name>
        <label>Segment 3 Group Id NULL</label>
        <locationX>270</locationX>
        <locationY>2987</locationY>
        <defaultConnector>
            <targetReference>Assign_Segment_3_Groups_to_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_3_Group_Id_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment3GroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Segment_3_Group_Id</targetReference>
            </connector>
            <label>Segment 3 Group Id Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_4_Group_Id_NULL</name>
        <label>Segment 4 Group Id NULL</label>
        <locationX>270</locationX>
        <locationY>4103</locationY>
        <defaultConnector>
            <targetReference>Assign_Segment_4_Groups_to_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_4_Group_Id_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment4GroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Segment_4_Group_Id</targetReference>
            </connector>
            <label>Segment 4 Group Id Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_5_Group_Id_NULL</name>
        <label>Segment 5 Group Id NULL</label>
        <locationX>270</locationX>
        <locationY>5219</locationY>
        <defaultConnector>
            <targetReference>Assign_Segment_5_Groups_to_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_5_Group_Id_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment5GroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Segment_5_Group_Id</targetReference>
            </connector>
            <label>Segment 5 Group Id Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_6_Group_Id_NULL</name>
        <label>Segment 6 Group Id NULL</label>
        <locationX>270</locationX>
        <locationY>6335</locationY>
        <defaultConnector>
            <targetReference>Assign_Segment_6_Groups_to_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_6_Group_Id_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment6GroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Segment_6_Group_Id</targetReference>
            </connector>
            <label>Segment 6 Group Id Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_7_Group_Id_NULL</name>
        <label>Segment 7 Group Id NULL</label>
        <locationX>270</locationX>
        <locationY>7451</locationY>
        <defaultConnector>
            <targetReference>Assign_Segment_7_Groups_to_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_7_Group_Id_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment7GroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Segment_7_Group_Id</targetReference>
            </connector>
            <label>Segment 7 Group Id Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_8_Group_Id_NULL</name>
        <label>Segment 8 Group Id NULL</label>
        <locationX>270</locationX>
        <locationY>8567</locationY>
        <defaultConnector>
            <targetReference>Assign_Segment_8_Groups_to_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_8_Group_Id_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment8GroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Segment_8_Group_Id</targetReference>
            </connector>
            <label>Segment 8 Group Id Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_9_Group_Id_NULL</name>
        <label>Segment 9 Group Id NULL</label>
        <locationX>270</locationX>
        <locationY>9683</locationY>
        <defaultConnector>
            <targetReference>Assign_Segment_9_Groups_to_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_9_Group_Id_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment9GroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Segment_9_Group_Id</targetReference>
            </connector>
            <label>Segment 9 Group Id Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_Name</name>
        <label>Segment Name</label>
        <locationX>1590</locationX>
        <locationY>11699</locationY>
        <defaultConnector>
            <targetReference>Assign_to_QLG_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Line_Groups.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Segment 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_QLG_1</targetReference>
            </connector>
            <label>Segment 1</label>
        </rules>
        <rules>
            <name>Segment_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Line_Groups.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Segment 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_QLG_2</targetReference>
            </connector>
            <label>Segment 2</label>
        </rules>
        <rules>
            <name>Segment_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Line_Groups.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Segment 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_QLG_3</targetReference>
            </connector>
            <label>Segment 3</label>
        </rules>
        <rules>
            <name>Segment_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Line_Groups.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Segment 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_QLG_4</targetReference>
            </connector>
            <label>Segment 4</label>
        </rules>
        <rules>
            <name>Segment_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Line_Groups.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Segment 5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_QLG_5</targetReference>
            </connector>
            <label>Segment 5</label>
        </rules>
        <rules>
            <name>Segment_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Line_Groups.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Segment 6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_QLG_6</targetReference>
            </connector>
            <label>Segment 6</label>
        </rules>
        <rules>
            <name>Segment_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Line_Groups.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Segment 7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_QLG_7</targetReference>
            </connector>
            <label>Segment 7</label>
        </rules>
        <rules>
            <name>Segment_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Line_Groups.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Segment 8</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_QLG_8</targetReference>
            </connector>
            <label>Segment 8</label>
        </rules>
        <rules>
            <name>Segment_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Line_Groups.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Segment 9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_QLG_9</targetReference>
            </connector>
            <label>Segment 9</label>
        </rules>
        <rules>
            <name>Segment_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Line_Groups.NF_Group_Segment_Index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Segment 10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_QLG_10</targetReference>
            </connector>
            <label>Segment 10</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DefaultEscalation</name>
        <dataType>Number</dataType>
        <expression>{!$CustomMetadata.Default_Escalation__mdt.NF_Default_Escalation.Escalation__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RenewalUpliftRate</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.SBQQ__RenewalUpliftRate__c} = 0, &quot;No Auto-Renewal&quot;, TEXT({!$Record.SBQQ__RenewalUpliftRate__c}))</expression>
    </formulas>
    <formulas>
        <name>Segment10EndDate</name>
        <dataType>Date</dataType>
        <expression>IF(
    NOT(ISNULL({!Loop_Quote_Line_Groups.SBQQ__SubscriptionTerm__c})), 
    ADDMONTHS({!Segment10StartDate}, {!Loop_Quote_Line_Groups.SBQQ__SubscriptionTerm__c}), 
    {!Loop_Quote_Line_Groups.SBQQ__EndDate__c}
)</expression>
    </formulas>
    <formulas>
        <name>Segment10StartDate</name>
        <dataType>Date</dataType>
        <expression>{!Segment9EndDate}</expression>
    </formulas>
    <formulas>
        <name>Segment1EndDate</name>
        <dataType>Date</dataType>
        <expression>IF(
    NOT(ISNULL({!Loop_Quote_Line_Groups.SBQQ__SubscriptionTerm__c})), 
    ADDMONTHS({!Segment1StartDate}, {!Loop_Quote_Line_Groups.SBQQ__SubscriptionTerm__c}), 
    {!Loop_Quote_Line_Groups.SBQQ__EndDate__c}
)</expression>
    </formulas>
    <formulas>
        <name>Segment1StartDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.SBQQ__StartDate__c}</expression>
    </formulas>
    <formulas>
        <name>Segment2EndDate</name>
        <dataType>Date</dataType>
        <expression>IF(
    NOT(ISNULL({!Loop_Quote_Line_Groups.SBQQ__SubscriptionTerm__c})), 
    ADDMONTHS({!Segment2StartDate}, {!Loop_Quote_Line_Groups.SBQQ__SubscriptionTerm__c}), 
    {!Loop_Quote_Line_Groups.SBQQ__EndDate__c}
)</expression>
    </formulas>
    <formulas>
        <name>Segment2StartDate</name>
        <dataType>Date</dataType>
        <expression>{!Segment1EndDate}</expression>
    </formulas>
    <formulas>
        <name>Segment3EndDate</name>
        <dataType>Date</dataType>
        <expression>IF(
    NOT(ISNULL({!Loop_Quote_Line_Groups.SBQQ__SubscriptionTerm__c})), 
    ADDMONTHS({!Segment3StartDate}, {!Loop_Quote_Line_Groups.SBQQ__SubscriptionTerm__c}), 
    {!Loop_Quote_Line_Groups.SBQQ__EndDate__c}
)</expression>
    </formulas>
    <formulas>
        <name>Segment3StartDate</name>
        <dataType>Date</dataType>
        <expression>{!Segment2EndDate}</expression>
    </formulas>
    <formulas>
        <name>Segment4EndDate</name>
        <dataType>Date</dataType>
        <expression>IF(
    NOT(ISNULL({!Loop_Quote_Line_Groups.SBQQ__SubscriptionTerm__c})), 
    ADDMONTHS({!Segment4StartDate}, {!Loop_Quote_Line_Groups.SBQQ__SubscriptionTerm__c}), 
    {!Loop_Quote_Line_Groups.SBQQ__EndDate__c}
)</expression>
    </formulas>
    <formulas>
        <name>Segment4StartDate</name>
        <dataType>Date</dataType>
        <expression>{!Segment3EndDate}</expression>
    </formulas>
    <formulas>
        <name>Segment5EndDate</name>
        <dataType>Date</dataType>
        <expression>IF(
    NOT(ISNULL({!Loop_Quote_Line_Groups.SBQQ__SubscriptionTerm__c})), 
    ADDMONTHS({!Segment5StartDate}, {!Loop_Quote_Line_Groups.SBQQ__SubscriptionTerm__c}), 
    {!Loop_Quote_Line_Groups.SBQQ__EndDate__c}
)</expression>
    </formulas>
    <formulas>
        <name>Segment5StartDate</name>
        <dataType>Date</dataType>
        <expression>{!Segment4EndDate}</expression>
    </formulas>
    <formulas>
        <name>Segment6EndDate</name>
        <dataType>Date</dataType>
        <expression>IF(
    NOT(ISNULL({!Loop_Quote_Line_Groups.SBQQ__SubscriptionTerm__c})), 
    ADDMONTHS({!Segment6StartDate}, {!Loop_Quote_Line_Groups.SBQQ__SubscriptionTerm__c}), 
    {!Loop_Quote_Line_Groups.SBQQ__EndDate__c}
)</expression>
    </formulas>
    <formulas>
        <name>Segment6StartDate</name>
        <dataType>Date</dataType>
        <expression>{!Segment5EndDate}</expression>
    </formulas>
    <formulas>
        <name>Segment7EndDate</name>
        <dataType>Date</dataType>
        <expression>IF(
    NOT(ISNULL({!Loop_Quote_Line_Groups.SBQQ__SubscriptionTerm__c})), 
    ADDMONTHS({!Segment7StartDate}, {!Loop_Quote_Line_Groups.SBQQ__SubscriptionTerm__c}), 
    {!Loop_Quote_Line_Groups.SBQQ__EndDate__c}
)</expression>
    </formulas>
    <formulas>
        <name>Segment7StartDate</name>
        <dataType>Date</dataType>
        <expression>{!Segment6EndDate}</expression>
    </formulas>
    <formulas>
        <name>Segment8EndDate</name>
        <dataType>Date</dataType>
        <expression>IF(
    NOT(ISNULL({!Loop_Quote_Line_Groups.SBQQ__SubscriptionTerm__c})), 
    ADDMONTHS({!Segment8StartDate}, {!Loop_Quote_Line_Groups.SBQQ__SubscriptionTerm__c}), 
    {!Loop_Quote_Line_Groups.SBQQ__EndDate__c}
)</expression>
    </formulas>
    <formulas>
        <name>Segment8StartDate</name>
        <dataType>Date</dataType>
        <expression>{!Segment7EndDate}</expression>
    </formulas>
    <formulas>
        <name>Segment9EndDate</name>
        <dataType>Date</dataType>
        <expression>IF(
    NOT(ISNULL({!Loop_Quote_Line_Groups.SBQQ__SubscriptionTerm__c})), 
    ADDMONTHS({!Segment9StartDate}, {!Loop_Quote_Line_Groups.SBQQ__SubscriptionTerm__c}), 
    {!Loop_Quote_Line_Groups.SBQQ__EndDate__c}
)</expression>
    </formulas>
    <formulas>
        <name>Segment9StartDate</name>
        <dataType>Date</dataType>
        <expression>{!Segment8EndDate}</expression>
    </formulas>
    <interviewLabel>Quote: Renewal Grouped Quote Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote: Renewal Grouped Quote Creation</label>
    <loops>
        <name>Loop_Quote_Line_Groups</name>
        <label>Loop Quote Line Groups</label>
        <locationX>182</locationX>
        <locationY>11591</locationY>
        <collectionReference>Get_Quote_Line_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Segment_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_QLG</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Segment_10_Group</name>
        <label>Loop Segment 10 Group</label>
        <locationX>50</locationX>
        <locationY>10691</locationY>
        <collectionReference>Get_Segment_10_Quote_Line_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Segment_10_Group_Id_NULL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Segment_10_Additional_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Segment_1_Group</name>
        <label>Loop Segment 1 Group</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Segment_1_Quote_Line_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Segment_1_Group_Id_NULL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Segment_1_Additional_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Segment_2_Group</name>
        <label>Loop Segment 2 Group</label>
        <locationX>50</locationX>
        <locationY>1763</locationY>
        <collectionReference>Get_Segment_2_Quote_Line_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Segment_2_Group_Id_NULL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Segment_2_Additional_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Segment_3_Group</name>
        <label>Loop Segment 3 Group</label>
        <locationX>50</locationX>
        <locationY>2879</locationY>
        <collectionReference>Get_Segment_3_Quote_Line_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Segment_3_Group_Id_NULL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Segment_3_Additional_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Segment_4_Group</name>
        <label>Loop Segment 4 Group</label>
        <locationX>50</locationX>
        <locationY>3995</locationY>
        <collectionReference>Get_Segment_4_Quote_Line_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Segment_4_Group_Id_NULL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Segment_4_Additional_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Segment_5_Group</name>
        <label>Loop Segment 5 Group</label>
        <locationX>50</locationX>
        <locationY>5111</locationY>
        <collectionReference>Get_Segment_5_Quote_Line_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Segment_5_Group_Id_NULL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Segment_5_Additional_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Segment_6_Group</name>
        <label>Loop Segment 6 Group</label>
        <locationX>50</locationX>
        <locationY>6227</locationY>
        <collectionReference>Get_Segment_6_Quote_Line_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Segment_6_Group_Id_NULL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Segment_6_Additional_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Segment_7_Group</name>
        <label>Loop Segment 7 Group</label>
        <locationX>50</locationX>
        <locationY>7343</locationY>
        <collectionReference>Get_Segment_7_Quote_Line_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Segment_7_Group_Id_NULL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Segment_7_Additional_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Segment_8_Group</name>
        <label>Loop Segment 8 Group</label>
        <locationX>50</locationX>
        <locationY>8459</locationY>
        <collectionReference>Get_Segment_8_Quote_Line_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Segment_8_Group_Id_NULL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Segment_8_Additional_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Segment_9_Group</name>
        <label>Loop Segment 9 Group</label>
        <locationX>50</locationX>
        <locationY>9575</locationY>
        <collectionReference>Get_Segment_9_Quote_Line_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Segment_9_Group_Id_NULL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Segment_9_Additional_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Segment_10_Additional_Groups</name>
        <label>Delete Segment 10 Additional Groups</label>
        <locationX>50</locationX>
        <locationY>11183</locationY>
        <connector>
            <targetReference>Update_NULL_Quote_Lines_Segment_10</targetReference>
        </connector>
        <inputReference>Segment10GroupsDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_1_Additional_Groups</name>
        <label>Delete Segment 1 Additional Groups</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Update_NULL_Quote_Lines_Segment_1</targetReference>
        </connector>
        <inputReference>Segment1GroupsDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_2_Additional_Groups</name>
        <label>Delete Segment 2 Additional Groups</label>
        <locationX>50</locationX>
        <locationY>2255</locationY>
        <connector>
            <targetReference>Update_NULL_Quote_Lines_Segment_2</targetReference>
        </connector>
        <inputReference>Segment2GroupsDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_3_Additional_Groups</name>
        <label>Delete Segment 3 Additional Groups</label>
        <locationX>50</locationX>
        <locationY>3371</locationY>
        <connector>
            <targetReference>Update_NULL_Quote_Lines_Segment_3</targetReference>
        </connector>
        <inputReference>Segment3GroupsDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_4_Additional_Groups</name>
        <label>Delete Segment 4 Additional Groups</label>
        <locationX>50</locationX>
        <locationY>4487</locationY>
        <connector>
            <targetReference>Update_NULL_Quote_Lines_Segment_4</targetReference>
        </connector>
        <inputReference>Segment4GroupsDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_5_Additional_Groups</name>
        <label>Delete Segment 5 Additional Groups</label>
        <locationX>50</locationX>
        <locationY>5603</locationY>
        <connector>
            <targetReference>Update_NULL_Quote_Lines_Segment_5</targetReference>
        </connector>
        <inputReference>Segment5GroupsDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_6_Additional_Groups</name>
        <label>Delete Segment 6 Additional Groups</label>
        <locationX>50</locationX>
        <locationY>6719</locationY>
        <connector>
            <targetReference>Update_NULL_Quote_Lines_Segment_6</targetReference>
        </connector>
        <inputReference>Segment6GroupsDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_7_Additional_Groups</name>
        <label>Delete Segment 7 Additional Groups</label>
        <locationX>50</locationX>
        <locationY>7835</locationY>
        <connector>
            <targetReference>Update_NULL_Quote_Lines_Segment_7</targetReference>
        </connector>
        <inputReference>Segment7GroupsDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_8_Additional_Groups</name>
        <label>Delete Segment 8 Additional Groups</label>
        <locationX>50</locationX>
        <locationY>8951</locationY>
        <connector>
            <targetReference>Update_NULL_Quote_Lines_Segment_8</targetReference>
        </connector>
        <inputReference>Segment8GroupsDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_9_Additional_Groups</name>
        <label>Delete Segment 9 Additional Groups</label>
        <locationX>50</locationX>
        <locationY>10067</locationY>
        <connector>
            <targetReference>Update_NULL_Quote_Lines_Segment_9</targetReference>
        </connector>
        <inputReference>Segment9GroupsDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Quote_Line_Group</name>
        <label>Get Quote Line Group</label>
        <locationX>182</locationX>
        <locationY>11483</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Quote_Line_Groups</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_10_Quote_Line_Group</name>
        <label>Get Segment 10 Quote Line Group</label>
        <locationX>182</locationX>
        <locationY>10367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Groups_of_Segment_10</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 10</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_1_Quote_Line_Group</name>
        <label>Get Segment 1 Quote Line Group</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Groups_of_Segment_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_2_Quote_Line_Group</name>
        <label>Get Segment 2 Quote Line Group</label>
        <locationX>182</locationX>
        <locationY>1439</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Groups_of_Segment_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_3_Quote_Line_Group</name>
        <label>Get Segment 3 Quote Line Group</label>
        <locationX>182</locationX>
        <locationY>2555</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Groups_of_Segment_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 3</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_4_Quote_Line_Group</name>
        <label>Get Segment 4 Quote Line Group</label>
        <locationX>182</locationX>
        <locationY>3671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Groups_of_Segment_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 4</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_5_Quote_Line_Group</name>
        <label>Get Segment 5 Quote Line Group</label>
        <locationX>182</locationX>
        <locationY>4787</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Groups_of_Segment_5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 5</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_6_Quote_Line_Group</name>
        <label>Get Segment 6 Quote Line Group</label>
        <locationX>182</locationX>
        <locationY>5903</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Groups_of_Segment_6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 6</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_7_Quote_Line_Group</name>
        <label>Get Segment 7 Quote Line Group</label>
        <locationX>182</locationX>
        <locationY>7019</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Groups_of_Segment_7</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 7</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_8_Quote_Line_Group</name>
        <label>Get Segment 8 Quote Line Group</label>
        <locationX>182</locationX>
        <locationY>8135</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Groups_of_Segment_8</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 8</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_9_Quote_Line_Group</name>
        <label>Get Segment 9 Quote Line Group</label>
        <locationX>182</locationX>
        <locationY>9251</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Groups_of_Segment_9</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 9</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_NULL_Quote_Lines_Segment_1</name>
        <label>Update NULL Quote Lines Segment 1</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Get_Segment_2_Quote_Line_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Group__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Segment1GroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index_Formula__c</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <field>SBQQ__Group__c</field>
            <value>
                <elementReference>Segment1GroupId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NULL_Quote_Lines_Segment_10</name>
        <label>Update NULL Quote Lines Segment 10</label>
        <locationX>50</locationX>
        <locationY>11291</locationY>
        <connector>
            <targetReference>Get_Quote_Line_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Group__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Segment10GroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index_Formula__c</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <field>SBQQ__Group__c</field>
            <value>
                <elementReference>Segment10GroupId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NULL_Quote_Lines_Segment_2</name>
        <label>Update NULL Quote Lines Segment 2</label>
        <locationX>50</locationX>
        <locationY>2363</locationY>
        <connector>
            <targetReference>Get_Segment_3_Quote_Line_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Group__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Segment2GroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index_Formula__c</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <field>SBQQ__Group__c</field>
            <value>
                <elementReference>Segment2GroupId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NULL_Quote_Lines_Segment_3</name>
        <label>Update NULL Quote Lines Segment 3</label>
        <locationX>50</locationX>
        <locationY>3479</locationY>
        <connector>
            <targetReference>Get_Segment_4_Quote_Line_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Group__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Segment3GroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index_Formula__c</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <field>SBQQ__Group__c</field>
            <value>
                <elementReference>Segment3GroupId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NULL_Quote_Lines_Segment_4</name>
        <label>Update NULL Quote Lines Segment 4</label>
        <locationX>50</locationX>
        <locationY>4595</locationY>
        <connector>
            <targetReference>Get_Segment_5_Quote_Line_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Group__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Segment4GroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index_Formula__c</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <field>SBQQ__Group__c</field>
            <value>
                <elementReference>Segment4GroupId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NULL_Quote_Lines_Segment_5</name>
        <label>Update NULL Quote Lines Segment 5</label>
        <locationX>50</locationX>
        <locationY>5711</locationY>
        <connector>
            <targetReference>Get_Segment_6_Quote_Line_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Group__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Segment5GroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index_Formula__c</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <field>SBQQ__Group__c</field>
            <value>
                <elementReference>Segment5GroupId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NULL_Quote_Lines_Segment_6</name>
        <label>Update NULL Quote Lines Segment 6</label>
        <locationX>50</locationX>
        <locationY>6827</locationY>
        <connector>
            <targetReference>Get_Segment_7_Quote_Line_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Group__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Segment6GroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index_Formula__c</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <field>SBQQ__Group__c</field>
            <value>
                <elementReference>Segment6GroupId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NULL_Quote_Lines_Segment_7</name>
        <label>Update NULL Quote Lines Segment 7</label>
        <locationX>50</locationX>
        <locationY>7943</locationY>
        <connector>
            <targetReference>Get_Segment_8_Quote_Line_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Group__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Segment7GroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index_Formula__c</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <field>SBQQ__Group__c</field>
            <value>
                <elementReference>Segment7GroupId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NULL_Quote_Lines_Segment_8</name>
        <label>Update NULL Quote Lines Segment 8</label>
        <locationX>50</locationX>
        <locationY>9059</locationY>
        <connector>
            <targetReference>Get_Segment_9_Quote_Line_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Group__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Segment8GroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index_Formula__c</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <field>SBQQ__Group__c</field>
            <value>
                <elementReference>Segment8GroupId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NULL_Quote_Lines_Segment_9</name>
        <label>Update NULL Quote Lines Segment 9</label>
        <locationX>50</locationX>
        <locationY>10175</locationY>
        <connector>
            <targetReference>Get_Segment_10_Quote_Line_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Group__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Segment9GroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index_Formula__c</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <field>SBQQ__Group__c</field>
            <value>
                <elementReference>Segment9GroupId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_QLG</name>
        <label>Update QLG</label>
        <locationX>182</locationX>
        <locationY>12191</locationY>
        <connector>
            <targetReference>Update_Quote</targetReference>
        </connector>
        <inputReference>Collection_QLG</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Renewal Quote</label>
        <locationX>182</locationX>
        <locationY>12299</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>NF_Accounting_Contact__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.NF_Accounting_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NF_Auto_Renewal_Escalation__c</field>
            <value>
                <elementReference>RenewalUpliftRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NF_Escalation__c</field>
            <value>
                <elementReference>$Record.SBQQ__RenewalUpliftRate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NF_Quote_Line_Groups_Updated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ContractingMethod__c</field>
            <value>
                <stringValue>Single Contract</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__EndDate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionTerm__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__RenewalTerm__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Segment_1_Quote_Line_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>QLGRenewAmend__Has_Groups__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NF_Quote_Line_Groups_Updated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Collection_QLG</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLineGroup__c</objectType>
    </variables>
    <variables>
        <name>Segment10GroupCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Segment10GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Segment10GroupsDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLineGroup__c</objectType>
    </variables>
    <variables>
        <name>Segment1GroupCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Segment1GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Segment1GroupsDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLineGroup__c</objectType>
    </variables>
    <variables>
        <name>Segment2GroupCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Segment2GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Segment2GroupsDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLineGroup__c</objectType>
    </variables>
    <variables>
        <name>Segment3GroupCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Segment3GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Segment3GroupsDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLineGroup__c</objectType>
    </variables>
    <variables>
        <name>Segment4GroupCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Segment4GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Segment4GroupsDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLineGroup__c</objectType>
    </variables>
    <variables>
        <name>Segment5GroupCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Segment5GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Segment5GroupsDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLineGroup__c</objectType>
    </variables>
    <variables>
        <name>Segment6GroupCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Segment6GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Segment6GroupsDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLineGroup__c</objectType>
    </variables>
    <variables>
        <name>Segment7GroupCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Segment7GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Segment7GroupsDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLineGroup__c</objectType>
    </variables>
    <variables>
        <name>Segment8GroupCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Segment8GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Segment8GroupsDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLineGroup__c</objectType>
    </variables>
    <variables>
        <name>Segment9GroupCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Segment9GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Segment9GroupsDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLineGroup__c</objectType>
    </variables>
</Flow>
