force-app/main/default/flows/NF_Quote_Amendment_Grouped_Quote_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Segment_10_Group_Id</name>
        <label>Assign Segment 10 Group Id</label>
        <locationX>336</locationX>
        <locationY>19067</locationY>
        <assignmentItems>
            <assignToReference>Segment10GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Segment_10_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_10_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_10_Groups_to_Delete</name>
        <label>Assign Segment 10 Groups to Delete</label>
        <locationX>600</locationX>
        <locationY>19067</locationY>
        <assignmentItems>
            <assignToReference>Segment10GroupDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Segment_10_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_10_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_1_Group_Id</name>
        <label>Assign Segment 1 Group Id</label>
        <locationX>336</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>Segment1GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Segment_1_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_1_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_1_Groups_to_Delete</name>
        <label>Assign Segment 1 Groups to Delete</label>
        <locationX>600</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>Segment1GroupsDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Segment_1_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_1_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_2_Groups_to_Delete</name>
        <label>Assign Segment 2 Groups to Delete</label>
        <locationX>600</locationX>
        <locationY>3611</locationY>
        <assignmentItems>
            <assignToReference>Segment2GroupDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Segment_2_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_2_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_3_Group_Id</name>
        <label>Assign Segment 3 Group Id</label>
        <locationX>336</locationX>
        <locationY>5543</locationY>
        <assignmentItems>
            <assignToReference>Segment3GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Segment_3_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_3_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_3_Groups_to_Delete</name>
        <label>Assign Segment 3 Groups to Delete</label>
        <locationX>600</locationX>
        <locationY>5543</locationY>
        <assignmentItems>
            <assignToReference>Segment3GroupDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Segment_3_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_3_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_4_Group_Id</name>
        <label>Assign Segment 4 Group Id</label>
        <locationX>336</locationX>
        <locationY>7475</locationY>
        <assignmentItems>
            <assignToReference>Segment4GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Segment_4_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_4_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_4_Groups_to_Delete</name>
        <label>Assign Segment 4 Groups to Delete</label>
        <locationX>600</locationX>
        <locationY>7475</locationY>
        <assignmentItems>
            <assignToReference>Segment4GroupDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Segment_4_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_4_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_5_Group_Id</name>
        <label>Assign Segment 5 Group Id</label>
        <locationX>336</locationX>
        <locationY>9407</locationY>
        <assignmentItems>
            <assignToReference>Segment5GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Segment_5_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_5_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_5_Groups_to_Delete</name>
        <label>Assign Segment 5 Groups to Delete</label>
        <locationX>600</locationX>
        <locationY>9407</locationY>
        <assignmentItems>
            <assignToReference>Segment5GroupDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Segment_5_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_5_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_6_Group_Id</name>
        <label>Assign Segment 6 Group Id</label>
        <locationX>360</locationX>
        <locationY>11339</locationY>
        <assignmentItems>
            <assignToReference>Segment6GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Segment_6_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_Segment_6_Additional_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_6_Groups_to_Delete</name>
        <label>Assign Segment 6 Groups to Delete</label>
        <locationX>624</locationX>
        <locationY>11339</locationY>
        <assignmentItems>
            <assignToReference>Segment6GroupDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Segment_6_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_Segment_6_Additional_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_7_Group_Id</name>
        <label>Assign Segment 7 Group Id</label>
        <locationX>336</locationX>
        <locationY>13271</locationY>
        <assignmentItems>
            <assignToReference>Segment7GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Segment_7_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_7_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_7_Groups_to_Delete</name>
        <label>Assign Segment 7 Groups to Delete</label>
        <locationX>600</locationX>
        <locationY>13271</locationY>
        <assignmentItems>
            <assignToReference>Segment7GroupDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Segment_7_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_7_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_8_Group_Id</name>
        <label>Assign Segment 8 Group Id</label>
        <locationX>336</locationX>
        <locationY>15203</locationY>
        <assignmentItems>
            <assignToReference>Segment8GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Segment_8_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_8_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_8_Groups_to_Delete</name>
        <label>Assign Segment 8 Groups to Delete</label>
        <locationX>600</locationX>
        <locationY>15203</locationY>
        <assignmentItems>
            <assignToReference>Segment8GroupDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Segment_8_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_8_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_9_Group_Id</name>
        <label>Assign Segment 9 Group Id</label>
        <locationX>336</locationX>
        <locationY>17135</locationY>
        <assignmentItems>
            <assignToReference>Segment9GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Segment_9_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_9_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Segment_9_Groups_to_Delete</name>
        <label>Assign Segment 9 Groups to Delete</label>
        <locationX>600</locationX>
        <locationY>17135</locationY>
        <assignmentItems>
            <assignToReference>Segment9GroupDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Segment_9_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_9_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSegment1GroupId</name>
        <label>Assign Segment 1 Group Id</label>
        <locationX>336</locationX>
        <locationY>3611</locationY>
        <assignmentItems>
            <assignToReference>Segment2GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Segment_2_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Segment_2_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Groups_of_Segment_1</name>
        <label>Count Groups of Segment 1</label>
        <locationX>380</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>Segment1GroupCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Segment_1_Quote_Line_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_of_Segment_1_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Groups_of_Segment_10</name>
        <label>Count Groups of Segment 10</label>
        <locationX>380</locationX>
        <locationY>18635</locationY>
        <assignmentItems>
            <assignToReference>Segment10GroupCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Segment_10_Quote_Line_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_of_Segment_10_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Groups_of_Segment_2</name>
        <label>Count Groups of Segment 2</label>
        <locationX>380</locationX>
        <locationY>3179</locationY>
        <assignmentItems>
            <assignToReference>Segment2GroupCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Segment_2_Quote_Line_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_of_Segment_2_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Groups_of_Segment_3</name>
        <label>Count Groups of Segment 3</label>
        <locationX>380</locationX>
        <locationY>5111</locationY>
        <assignmentItems>
            <assignToReference>Segment3GroupCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Segment_3_Quote_Line_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_of_Segment_3_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Groups_of_Segment_4</name>
        <label>Count Groups of Segment 4</label>
        <locationX>380</locationX>
        <locationY>7043</locationY>
        <assignmentItems>
            <assignToReference>Segment4GroupCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Segment_4_Quote_Line_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_of_Segment_4_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Groups_of_Segment_5</name>
        <label>Count Groups of Segment 5</label>
        <locationX>380</locationX>
        <locationY>8975</locationY>
        <assignmentItems>
            <assignToReference>Segment5GroupCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Segment_5_Quote_Line_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_of_Segment_5_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Groups_of_Segment_6</name>
        <label>Count Groups of Segment 6</label>
        <locationX>380</locationX>
        <locationY>10907</locationY>
        <assignmentItems>
            <assignToReference>Segment6GroupCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Segment_6_Quote_Line_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_of_Segment_6_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Groups_of_Segment_7</name>
        <label>Count Groups of Segment 7</label>
        <locationX>380</locationX>
        <locationY>12839</locationY>
        <assignmentItems>
            <assignToReference>Segment7GroupCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Segment_7_Quote_Line_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_of_Segment_7_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Groups_of_Segment_8</name>
        <label>Count Groups of Segment 8</label>
        <locationX>380</locationX>
        <locationY>14771</locationY>
        <assignmentItems>
            <assignToReference>Segment8GroupCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Segment_8_Quote_Line_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_of_Segment_8_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Groups_of_Segment_9</name>
        <label>Count Groups of Segment 9</label>
        <locationX>380</locationX>
        <locationY>16703</locationY>
        <assignmentItems>
            <assignToReference>Segment9GroupCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Segment_9_Quote_Line_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_of_Segment_9_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_Quote_Lines</name>
        <label>Count of Quote Lines</label>
        <locationX>182</locationX>
        <locationY>20375</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Quote_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_of_Quote_lines_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Quote_Line_Collection</name>
        <label>Quote Line Collection</label>
        <locationX>138</locationX>
        <locationY>20807</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineRecordVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Quote_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Quantity_0</name>
        <label>Update Quantity = 0</label>
        <locationX>138</locationX>
        <locationY>20699</locationY>
        <assignmentItems>
            <assignToReference>Loop_Quote_Lines.SBQQ__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quote_Line_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Count_of_Quote_lines_0</name>
        <label>Count of Quote lines &gt; 0</label>
        <locationX>182</locationX>
        <locationY>20483</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_Lines_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLineCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Quote_Lines</targetReference>
            </connector>
            <label>Quote Lines &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_of_Segment_10_Groups</name>
        <label>Count of Segment 10 Groups</label>
        <locationX>380</locationX>
        <locationY>18743</locationY>
        <defaultConnector>
            <targetReference>Get_Current_Year_Group_Segment_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Segment 10 Groups EQUALS 1</defaultConnectorLabel>
        <rules>
            <name>Segment_10_Groups_GREATER_THAN_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment10GroupCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Segment_10_Group</targetReference>
            </connector>
            <label>Segment 10 Groups GREATER THAN 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_of_Segment_1_Groups</name>
        <label>Count of Segment 1 Groups</label>
        <locationX>380</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_2_Past_Date_Quote_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Segment 1 Groups EQUALS 1</defaultConnectorLabel>
        <rules>
            <name>Segment_1_Groups_GREATER_THAN_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment1GroupCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Segment_1_Group</targetReference>
            </connector>
            <label>Segment 1 Groups GREATER THAN 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_of_Segment_2_Groups</name>
        <label>Count of Segment 2 Groups</label>
        <locationX>380</locationX>
        <locationY>3287</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_3_Past_Date_Quote_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Segment 2 Groups EQUALS 1</defaultConnectorLabel>
        <rules>
            <name>Segment_2_Groups_GREATER_THAN_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment2GroupCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Segment_2_Group</targetReference>
            </connector>
            <label>Segment 2 Groups GREATER THAN 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_of_Segment_3_Groups</name>
        <label>Count of Segment 3 Groups</label>
        <locationX>380</locationX>
        <locationY>5219</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_4_Past_Date_Quote_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Segment 3 Groups EQUALS 1</defaultConnectorLabel>
        <rules>
            <name>Segment_3_Groups_GREATER_THAN_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment3GroupCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Segment_3_Group</targetReference>
            </connector>
            <label>Segment 3 Groups GREATER THAN 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_of_Segment_4_Groups</name>
        <label>Count of Segment 4 Groups</label>
        <locationX>380</locationX>
        <locationY>7151</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_5_Past_Date_Quote_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Segment 4 Groups EQUALS 1</defaultConnectorLabel>
        <rules>
            <name>Segment_4_Groups_GREATER_THAN_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment4GroupCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Segment_4_Group</targetReference>
            </connector>
            <label>Segment 4 Groups GREATER THAN 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_of_Segment_5_Groups</name>
        <label>Count of Segment 5 Groups</label>
        <locationX>380</locationX>
        <locationY>9083</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_6_Past_Date_Quote_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Segment 5 Groups EQUALS 1</defaultConnectorLabel>
        <rules>
            <name>Segment_5_Groups_GREATER_THAN_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment5GroupCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Segment_5_Group</targetReference>
            </connector>
            <label>Segment 5 Groups GREATER THAN 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_of_Segment_6_Groups</name>
        <label>Count of Segment 6 Groups</label>
        <locationX>380</locationX>
        <locationY>11015</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_7_Past_Date_Quote_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Segment 6 Groups EQUALS 1</defaultConnectorLabel>
        <rules>
            <name>Segment_6_Groups_GREATER_THAN_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment6GroupCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Segment_6_Group</targetReference>
            </connector>
            <label>Segment 6 Groups GREATER THAN 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_of_Segment_7_Groups</name>
        <label>Count of Segment 7 Groups</label>
        <locationX>380</locationX>
        <locationY>12947</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_8_Past_Date_Quote_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Segment 7 Groups EQUALS 1</defaultConnectorLabel>
        <rules>
            <name>Segment_7_Groups_GREATER_THAN_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment7GroupCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Segment_7_Group</targetReference>
            </connector>
            <label>Segment 7 Groups GREATER THAN 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_of_Segment_8_Groups</name>
        <label>Count of Segment 8 Groups</label>
        <locationX>380</locationX>
        <locationY>14879</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_9_Past_Date_Quote_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Segment 8 Groups EQUALS 1</defaultConnectorLabel>
        <rules>
            <name>Segment_8_Groups_GREATER_THAN_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment8GroupCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Segment_8_Group</targetReference>
            </connector>
            <label>Segment 8 Groups GREATER THAN 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_of_Segment_9_Groups</name>
        <label>Count of Segment 9 Groups</label>
        <locationX>380</locationX>
        <locationY>16811</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_10_Past_Date_Quote_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Segment 9 Groups EQUALS 1</defaultConnectorLabel>
        <rules>
            <name>Segment_9_Groups_GREATER_THAN_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment9GroupCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Segment_9_Group</targetReference>
            </connector>
            <label>Segment 9 Groups GREATER THAN 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Debook</name>
        <label>Debook</label>
        <locationX>380</locationX>
        <locationY>20159</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Debook_Quote_Lines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.NF_Debook_Auto_Renew__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_Lines</targetReference>
            </connector>
            <label>Debook Quote Lines</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_10_Group_Id_NULL</name>
        <label>Segment 10 Group Id NULL</label>
        <locationX>468</locationX>
        <locationY>18959</locationY>
        <defaultConnector>
            <targetReference>Assign_Segment_10_Groups_to_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_10_Group_Id_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment10GroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Segment_10_Group_Id</targetReference>
            </connector>
            <label>Segment 10 Group Id Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_10_Past_Date_Quote_Line_Groups_0</name>
        <label>Segment 10 Past Date Quote Line Groups &gt; 0</label>
        <locationX>380</locationX>
        <locationY>18227</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_10_Quote_Line_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_10_Quote_Line_Group_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Segment_10_Past_Date_Quote_Line_Groups</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Segment_10_Past_Date_Quote_Line_Groups</targetReference>
            </connector>
            <label>Segment 10 Quote Line Group &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_10_Past_Date_Quote_Lines_0</name>
        <label>Segment 10 Past Date Quote Lines &gt; 0</label>
        <locationX>380</locationX>
        <locationY>17819</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_10_Past_Date_Quote_Line_Groups</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_10_Quote_Lines_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Segment_10_Past_Date_Quote_Lines</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Segment_10_Past_Date_Quote_Lines</targetReference>
            </connector>
            <label>Segment 10 Quote Lines &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_1_Group_Id_NULL</name>
        <label>Segment 1 Group Id NULL</label>
        <locationX>468</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Assign_Segment_1_Groups_to_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_1_Group_Id_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment1GroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Segment_1_Group_Id</targetReference>
            </connector>
            <label>Segment 1 Group Id Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_1_Past_Date_Quote_Line_Groups_0</name>
        <label>Segment 1 Past Date Quote Line Groups &gt; 0</label>
        <locationX>380</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_1_Quote_Line_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_1_Quote_Line_Group_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Segment_1_Past_Date_Quote_Line_Groups</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Segment_1_Past_Date_Quote_Line_Groups</targetReference>
            </connector>
            <label>Segment 1 Quote Line Group &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_1_Past_Date_Quote_Lines_0</name>
        <label>Segment 1 Past Date Quote Lines &gt; 0</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_1_Past_Date_Quote_Line_Groups</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_1_Quote_Lines_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Segment_1_Past_Date_Quote_Lines</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Segment_1_Past_Date_Quote_Lines</targetReference>
            </connector>
            <label>Segment 1 Quote Lines &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_1_Start_Date_Quote_Start_Date</name>
        <label>Segment 1 Start Date = Quote Start Date</label>
        <locationX>380</locationX>
        <locationY>19751</locationY>
        <defaultConnector>
            <targetReference>Update_Segment_1_Quote_Line_Group_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>QLG_Segment_1_Start_Date_Quote_Start_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Year_Group_Segment_1.SBQQ__StartDate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SBQQ__StartDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Segment_1_Quote_Line_Group</targetReference>
            </connector>
            <label>QLG Segment 1 Start Date = Quote Start Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_2_Group_Id_NULL</name>
        <label>Segment 2 Group Id NULL</label>
        <locationX>468</locationX>
        <locationY>3503</locationY>
        <defaultConnector>
            <targetReference>Assign_Segment_2_Groups_to_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_2_Group_Id_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment2GroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSegment1GroupId</targetReference>
            </connector>
            <label>Segment 2 Group Id Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_2_Past_Date_Quote_Line_Groups_0</name>
        <label>Segment 2 Past Date Quote Line Groups &gt; 0</label>
        <locationX>380</locationX>
        <locationY>2771</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_2_Quote_Line_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_2_Quote_Line_Group_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Segment_2_Past_Date_Quote_Line_Groups</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Segment_2_Past_Date_Quote_Line_Groups</targetReference>
            </connector>
            <label>Segment 2 Quote Line Group &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_2_Past_Date_Quote_Lines_0</name>
        <label>Segment 2 Past Date Quote Lines &gt; 0</label>
        <locationX>380</locationX>
        <locationY>2363</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_2_Past_Date_Quote_Line_Groups</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_2_Quote_Lines_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Segment_2_Past_Date_Quote_Lines</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Segment_2_Past_Date_Quote_Lines</targetReference>
            </connector>
            <label>Segment 2 Quote Lines &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_3_Group_Id_NULL</name>
        <label>Segment 3 Group Id NULL</label>
        <locationX>468</locationX>
        <locationY>5435</locationY>
        <defaultConnector>
            <targetReference>Assign_Segment_3_Groups_to_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_3_Group_Id_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment3GroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Segment_3_Group_Id</targetReference>
            </connector>
            <label>Segment 3 Group Id Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_3_Past_Date_Quote_Line_Groups_0</name>
        <label>Segment 3 Past Date Quote Line Groups &gt; 0</label>
        <locationX>380</locationX>
        <locationY>4703</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_3_Quote_Line_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_3_Quote_Line_Group_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Segment_3_Past_Date_Quote_Line_Groups</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Segment_3_Past_Date_Quote_Line_Groups</targetReference>
            </connector>
            <label>Segment 3 Quote Line Group &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_3_Past_Date_Quote_Lines_0</name>
        <label>Segment 3 Past Date Quote Lines &gt; 0</label>
        <locationX>380</locationX>
        <locationY>4295</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_3_Past_Date_Quote_Line_Groups</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_3_Quote_Lines_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Segment_3_Past_Date_Quote_Lines</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Segment_3_Past_Date_Quote_Lines</targetReference>
            </connector>
            <label>Segment 3 Quote Lines &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_4_Group_Id_NULL</name>
        <label>Segment 4 Group Id NULL</label>
        <locationX>468</locationX>
        <locationY>7367</locationY>
        <defaultConnector>
            <targetReference>Assign_Segment_4_Groups_to_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_4_Group_Id_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment4GroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Segment_4_Group_Id</targetReference>
            </connector>
            <label>Segment 4 Group Id Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_4_Past_Date_Quote_Line_Groups_0</name>
        <label>Segment 4 Past Date Quote Line Groups &gt; 0</label>
        <locationX>380</locationX>
        <locationY>6635</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_4_Quote_Line_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Segment_Quote_Line_Group_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Segment_4_Past_Date_Quote_Line_Groups</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Segment_4_Past_Date_Quote_Line_Groups</targetReference>
            </connector>
            <label>Segment 4 Quote Line Group &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_4_Past_Date_Quote_Lines_0</name>
        <label>Segment 4 Past Date Quote Lines &gt; 0</label>
        <locationX>380</locationX>
        <locationY>6227</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_4_Past_Date_Quote_Line_Groups</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_4_Quote_Lines_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Segment_4_Past_Date_Quote_Lines</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Segment_4_Past_Date_Quote_Lines</targetReference>
            </connector>
            <label>Segment 4 Quote Lines &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_5_Group_Id_NULL</name>
        <label>Segment 5 Group Id NULL</label>
        <locationX>468</locationX>
        <locationY>9299</locationY>
        <defaultConnector>
            <targetReference>Assign_Segment_5_Groups_to_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_5_Group_Id_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment5GroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Segment_5_Group_Id</targetReference>
            </connector>
            <label>Segment 5 Group Id Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_5_Past_Date_Quote_Line_Groups_0</name>
        <label>Segment 5 Past Date Quote Line Groups &gt; 0</label>
        <locationX>380</locationX>
        <locationY>8567</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_5_Quote_Line_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_4_Quote_Line_Group_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Segment_5_Past_Date_Quote_Line_Groups</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Segment_5_Past_Date_Quote_Line_Groups</targetReference>
            </connector>
            <label>Segment 4 Quote Line Group &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_5_Past_Date_Quote_Lines_0</name>
        <label>Segment 5 Past Date Quote Lines &gt; 0</label>
        <locationX>380</locationX>
        <locationY>8159</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_5_Past_Date_Quote_Line_Groups</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_5_Quote_Lines_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Segment_5_Past_Date_Quote_Lines</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Segment_5_Past_Date_Quote_Lines</targetReference>
            </connector>
            <label>Segment 5 Quote Lines &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_6_Group_Id_NULL</name>
        <label>Segment 6 Group Id NULL</label>
        <locationX>492</locationX>
        <locationY>11231</locationY>
        <defaultConnector>
            <targetReference>Assign_Segment_6_Groups_to_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_6_Group_Id_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment6GroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Segment_6_Group_Id</targetReference>
            </connector>
            <label>Segment 6 Group Id Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_6_Past_Date_Quote_Line_Groups_0</name>
        <label>Segment 6 Past Date Quote Line Groups &gt; 0</label>
        <locationX>380</locationX>
        <locationY>10499</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_6_Quote_Line_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_6_Quote_Line_Group_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Segment_6_Past_Date_Quote_Line_Groups</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Segment_6_Past_Date_Quote_Line_Groups</targetReference>
            </connector>
            <label>Segment 6 Quote Line Group &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_6_Past_Date_Quote_Lines_0</name>
        <label>Segment 6 Past Date Quote Lines &gt; 0</label>
        <locationX>380</locationX>
        <locationY>10091</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_6_Past_Date_Quote_Line_Groups</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_6_Quote_Lines_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Segment_6_Past_Date_Quote_Lines</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Segment_6_Past_Date_Quote_Lines</targetReference>
            </connector>
            <label>Segment 6 Quote Lines &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_7_Group_Id_NULL</name>
        <label>Segment 7 Group Id NULL</label>
        <locationX>468</locationX>
        <locationY>13163</locationY>
        <defaultConnector>
            <targetReference>Assign_Segment_7_Groups_to_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_7_Group_Id_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment7GroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Segment_7_Group_Id</targetReference>
            </connector>
            <label>Segment 7 Group Id Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_7_Past_Date_Quote_Line_Groups_0</name>
        <label>Segment 7 Past Date Quote Line Groups &gt; 0</label>
        <locationX>380</locationX>
        <locationY>12431</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_7_Quote_Line_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_7_Quote_Line_Group_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Segment_7_Past_Date_Quote_Line_Groups</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Segment_7_Past_Date_Quote_Line_Groups</targetReference>
            </connector>
            <label>Segment 7 Quote Line Group &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_7_Past_Date_Quote_Lines_0</name>
        <label>Segment 7 Past Date Quote Lines &gt; 0</label>
        <locationX>380</locationX>
        <locationY>12023</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_7_Past_Date_Quote_Line_Groups</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_7_Quote_Lines_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Segment_7_Past_Date_Quote_Lines</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Segment_7_Past_Date_Quote_Lines</targetReference>
            </connector>
            <label>Segment 7 Quote Lines &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_8_Group_Id_NULL</name>
        <label>Segment 8 Group Id NULL</label>
        <locationX>468</locationX>
        <locationY>15095</locationY>
        <defaultConnector>
            <targetReference>Assign_Segment_8_Groups_to_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_8_Group_Id_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment8GroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Segment_8_Group_Id</targetReference>
            </connector>
            <label>Segment 8 Group Id Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_8_Past_Date_Quote_Line_Groups_0</name>
        <label>Segment 8 Past Date Quote Line Groups &gt; 0</label>
        <locationX>380</locationX>
        <locationY>14363</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_8_Quote_Line_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_8_Quote_Line_Group_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Segment_8_Past_Date_Quote_Line_Groups</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Segment_8_Past_Date_Quote_Line_Groups</targetReference>
            </connector>
            <label>Segment 8 Quote Line Group &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_8_Past_Date_Quote_Lines_0</name>
        <label>Segment 8 Past Date Quote Lines &gt; 0</label>
        <locationX>380</locationX>
        <locationY>13955</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_8_Past_Date_Quote_Line_Groups</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_8_Quote_Lines_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Segment_8_Past_Date_Quote_Lines</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Segment_8_Past_Date_Quote_Lines</targetReference>
            </connector>
            <label>Segment 8 Quote Lines &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_9_Group_Id_NULL</name>
        <label>Segment 9 Group Id NULL</label>
        <locationX>468</locationX>
        <locationY>17027</locationY>
        <defaultConnector>
            <targetReference>Assign_Segment_9_Groups_to_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_9_Group_Id_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Segment9GroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Segment_9_Group_Id</targetReference>
            </connector>
            <label>Segment 9 Group Id Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_9_Past_Date_Quote_Line_Groups_0</name>
        <label>Segment 9 Past Date Quote Line Groups &gt; 0</label>
        <locationX>380</locationX>
        <locationY>16295</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_9_Quote_Line_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_9_Quote_Line_Group_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Segment_9_Past_Date_Quote_Line_Groups</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Segment_9_Past_Date_Quote_Line_Groups</targetReference>
            </connector>
            <label>Segment 9 Quote Line Group &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_9_Past_Date_Quote_Lines_0</name>
        <label>Segment 9 Past Date Quote Lines &gt; 0</label>
        <locationX>380</locationX>
        <locationY>15887</locationY>
        <defaultConnector>
            <targetReference>Get_Segment_9_Past_Date_Quote_Line_Groups</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_9_Quote_Lines_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Segment_9_Past_Date_Quote_Lines</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Segment_9_Past_Date_Quote_Lines</targetReference>
            </connector>
            <label>Segment 9 Quote Lines &gt; 0</label>
        </rules>
    </decisions>
    <description>This flow manages the groups during Amendment Quote creation.</description>
    <environments>Default</environments>
    <formulas>
        <name>GroupName</name>
        <dataType>String</dataType>
        <expression>&quot;Current Year - &quot; &amp; &quot;(&quot; &amp; {!Get_Current_Year_Group_Segment_1.Name} &amp; &quot;)&quot;</expression>
    </formulas>
    <interviewLabel>Quote: Amendment Grouped Quote Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote: Amendment Grouped Quote Creation</label>
    <loops>
        <name>Loop_Quote_Lines</name>
        <label>Loop Quote Lines</label>
        <locationX>50</locationX>
        <locationY>20591</locationY>
        <collectionReference>Get_Quote_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Quantity_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Quote_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Segment_10_Group</name>
        <label>Loop Segment 10 Group</label>
        <locationX>248</locationX>
        <locationY>18851</locationY>
        <collectionReference>Get_Segment_10_Quote_Line_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Segment_10_Group_Id_NULL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Segment_10_Additional_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Segment_1_Group</name>
        <label>Loop Segment 1 Group</label>
        <locationX>248</locationX>
        <locationY>1463</locationY>
        <collectionReference>Get_Segment_1_Quote_Line_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Segment_1_Group_Id_NULL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Segment_1_Additional_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Segment_2_Group</name>
        <label>Loop Segment 2 Group</label>
        <locationX>248</locationX>
        <locationY>3395</locationY>
        <collectionReference>Get_Segment_2_Quote_Line_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Segment_2_Group_Id_NULL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Segment_2_Additional_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Segment_3_Group</name>
        <label>Loop Segment 3 Group</label>
        <locationX>248</locationX>
        <locationY>5327</locationY>
        <collectionReference>Get_Segment_3_Quote_Line_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Segment_3_Group_Id_NULL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Segment_3_Additional_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Segment_4_Group</name>
        <label>Loop Segment 4 Group</label>
        <locationX>248</locationX>
        <locationY>7259</locationY>
        <collectionReference>Get_Segment_4_Quote_Line_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Segment_4_Group_Id_NULL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Segment_4_Additional_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Segment_5_Group</name>
        <label>Loop Segment 5 Group</label>
        <locationX>248</locationX>
        <locationY>9191</locationY>
        <collectionReference>Get_Segment_5_Quote_Line_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Segment_5_Group_Id_NULL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Segment_5_Additional_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Segment_6_Group</name>
        <label>Loop Segment 6 Group</label>
        <locationX>272</locationX>
        <locationY>11123</locationY>
        <collectionReference>Get_Segment_6_Quote_Line_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Segment_6_Group_Id_NULL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Segment_7_Past_Date_Quote_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Segment_7_Group</name>
        <label>Loop Segment 7 Group</label>
        <locationX>248</locationX>
        <locationY>13055</locationY>
        <collectionReference>Get_Segment_7_Quote_Line_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Segment_7_Group_Id_NULL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Segment_7_Additional_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Segment_8_Group</name>
        <label>Loop Segment 8 Group</label>
        <locationX>248</locationX>
        <locationY>14987</locationY>
        <collectionReference>Get_Segment_8_Quote_Line_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Segment_8_Group_Id_NULL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Segment_8_Additional_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Segment_9_Group</name>
        <label>Loop Segment 9 Group</label>
        <locationX>248</locationX>
        <locationY>16919</locationY>
        <collectionReference>Get_Segment_9_Quote_Line_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Segment_9_Group_Id_NULL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Segment_9_Additional_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Segment_10_Additional_Groups</name>
        <label>Delete Segment 10 Additional Groups</label>
        <locationX>248</locationX>
        <locationY>19343</locationY>
        <connector>
            <targetReference>Update_NULL_Quote_Lines_Segment_10</targetReference>
        </connector>
        <inputReference>Segment10GroupDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_10_Past_Date_Quote_Line_Groups</name>
        <label>Delete Segment 10 Past Date Quote Line Groups</label>
        <locationX>248</locationX>
        <locationY>18335</locationY>
        <connector>
            <targetReference>Get_Segment_10_Quote_Line_Group</targetReference>
        </connector>
        <inputReference>Get_Segment_10_Past_Date_Quote_Line_Groups</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_10_Past_Date_Quote_Lines</name>
        <label>Delete Segment 10 Past Date Quote Lines</label>
        <locationX>248</locationX>
        <locationY>17927</locationY>
        <connector>
            <targetReference>Get_Segment_10_Past_Date_Quote_Line_Groups</targetReference>
        </connector>
        <inputReference>Get_Segment_10_Past_Date_Quote_Lines</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_1_Additional_Groups</name>
        <label>Delete Segment 1 Additional Groups</label>
        <locationX>248</locationX>
        <locationY>1955</locationY>
        <connector>
            <targetReference>Update_NULL_Quote_Lines_Segment_1</targetReference>
        </connector>
        <inputReference>Segment1GroupsDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_1_Past_Date_Quote_Line_Groups</name>
        <label>Delete Segment 1 Past Date Quote Line Groups</label>
        <locationX>248</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Get_Segment_1_Quote_Line_Group</targetReference>
        </connector>
        <inputReference>Get_Segment_1_Past_Date_Quote_Line_Groups</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_1_Past_Date_Quote_Lines</name>
        <label>Delete Segment 1 Past Date Quote Lines</label>
        <locationX>248</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Segment_1_Past_Date_Quote_Line_Groups</targetReference>
        </connector>
        <inputReference>Get_Segment_1_Past_Date_Quote_Lines</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_2_Additional_Groups</name>
        <label>Delete Segment 2 Additional Groups</label>
        <locationX>248</locationX>
        <locationY>3887</locationY>
        <connector>
            <targetReference>Update_NULL_Quote_Lines_Segment_2</targetReference>
        </connector>
        <inputReference>Segment2GroupDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_2_Past_Date_Quote_Line_Groups</name>
        <label>Delete Segment 2 Past Date Quote Line Groups</label>
        <locationX>248</locationX>
        <locationY>2879</locationY>
        <connector>
            <targetReference>Get_Segment_2_Quote_Line_Group</targetReference>
        </connector>
        <inputReference>Get_Segment_2_Past_Date_Quote_Line_Groups</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_2_Past_Date_Quote_Lines</name>
        <label>Delete Segment 2 Past Date Quote Lines</label>
        <locationX>248</locationX>
        <locationY>2471</locationY>
        <connector>
            <targetReference>Get_Segment_2_Past_Date_Quote_Line_Groups</targetReference>
        </connector>
        <inputReference>Get_Segment_2_Past_Date_Quote_Lines</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_3_Additional_Groups</name>
        <label>Delete Segment 3 Additional Groups</label>
        <locationX>248</locationX>
        <locationY>5819</locationY>
        <connector>
            <targetReference>Update_NULL_Quote_Lines_Segment_3</targetReference>
        </connector>
        <inputReference>Segment3GroupDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_3_Past_Date_Quote_Line_Groups</name>
        <label>Delete Segment 3 Past Date Quote Line Groups</label>
        <locationX>248</locationX>
        <locationY>4811</locationY>
        <connector>
            <targetReference>Get_Segment_3_Quote_Line_Group</targetReference>
        </connector>
        <inputReference>Get_Segment_3_Past_Date_Quote_Line_Groups</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_3_Past_Date_Quote_Lines</name>
        <label>Delete Segment 3 Past Date Quote Lines</label>
        <locationX>248</locationX>
        <locationY>4403</locationY>
        <connector>
            <targetReference>Get_Segment_3_Past_Date_Quote_Line_Groups</targetReference>
        </connector>
        <inputReference>Get_Segment_3_Past_Date_Quote_Lines</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_4_Additional_Groups</name>
        <label>Delete Segment 4 Additional Groups</label>
        <locationX>248</locationX>
        <locationY>7751</locationY>
        <connector>
            <targetReference>Update_NULL_Quote_Lines_Segment_4</targetReference>
        </connector>
        <inputReference>Segment4GroupDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_4_Past_Date_Quote_Line_Groups</name>
        <label>Delete Segment 4 Past Date Quote Line Groups</label>
        <locationX>248</locationX>
        <locationY>6743</locationY>
        <connector>
            <targetReference>Get_Segment_4_Quote_Line_Group</targetReference>
        </connector>
        <inputReference>Get_Segment_4_Past_Date_Quote_Line_Groups</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_4_Past_Date_Quote_Lines</name>
        <label>Delete Segment 4 Past Date Quote Lines</label>
        <locationX>248</locationX>
        <locationY>6335</locationY>
        <connector>
            <targetReference>Get_Segment_4_Past_Date_Quote_Line_Groups</targetReference>
        </connector>
        <inputReference>Get_Segment_4_Past_Date_Quote_Lines</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_5_Additional_Groups</name>
        <label>Delete Segment 5 Additional Groups</label>
        <locationX>248</locationX>
        <locationY>9683</locationY>
        <connector>
            <targetReference>Update_NULL_Quote_Lines_Segment_5</targetReference>
        </connector>
        <inputReference>Segment5GroupDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_5_Past_Date_Quote_Line_Groups</name>
        <label>Delete Segment 5 Past Date Quote Line Groups</label>
        <locationX>248</locationX>
        <locationY>8675</locationY>
        <connector>
            <targetReference>Get_Segment_5_Quote_Line_Group</targetReference>
        </connector>
        <inputReference>Get_Segment_5_Past_Date_Quote_Line_Groups</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_5_Past_Date_Quote_Lines</name>
        <label>Delete Segment 5 Past Date Quote Lines</label>
        <locationX>248</locationX>
        <locationY>8267</locationY>
        <connector>
            <targetReference>Get_Segment_5_Past_Date_Quote_Line_Groups</targetReference>
        </connector>
        <inputReference>Get_Segment_5_Past_Date_Quote_Lines</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_6_Additional_Groups</name>
        <label>Delete Segment 6 Additional Groups</label>
        <locationX>492</locationX>
        <locationY>11531</locationY>
        <connector>
            <targetReference>Update_NULL_Quote_Lines_Segment_6</targetReference>
        </connector>
        <inputReference>Segment6GroupDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_6_Past_Date_Quote_Line_Groups</name>
        <label>Delete Segment 6 Past Date Quote Line Groups</label>
        <locationX>248</locationX>
        <locationY>10607</locationY>
        <connector>
            <targetReference>Get_Segment_6_Quote_Line_Group</targetReference>
        </connector>
        <inputReference>Get_Segment_6_Past_Date_Quote_Line_Groups</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_6_Past_Date_Quote_Lines</name>
        <label>Delete Segment 6 Past Date Quote Lines</label>
        <locationX>248</locationX>
        <locationY>10199</locationY>
        <connector>
            <targetReference>Get_Segment_6_Past_Date_Quote_Line_Groups</targetReference>
        </connector>
        <inputReference>Get_Segment_6_Past_Date_Quote_Lines</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_7_Additional_Groups</name>
        <label>Delete Segment 7 Additional Groups</label>
        <locationX>248</locationX>
        <locationY>13547</locationY>
        <connector>
            <targetReference>Update_NULL_Quote_Lines_Segment_7</targetReference>
        </connector>
        <inputReference>Segment7GroupDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_7_Past_Date_Quote_Line_Groups</name>
        <label>Delete Segment 7 Past Date Quote Line Groups</label>
        <locationX>248</locationX>
        <locationY>12539</locationY>
        <connector>
            <targetReference>Get_Segment_7_Quote_Line_Group</targetReference>
        </connector>
        <inputReference>Get_Segment_7_Past_Date_Quote_Line_Groups</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_7_Past_Date_Quote_Lines</name>
        <label>Delete Segment 7 Past Date Quote Lines</label>
        <locationX>248</locationX>
        <locationY>12131</locationY>
        <connector>
            <targetReference>Get_Segment_7_Past_Date_Quote_Line_Groups</targetReference>
        </connector>
        <inputReference>Get_Segment_7_Past_Date_Quote_Lines</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_8_Additional_Groups</name>
        <label>Delete Segment 8 Additional Groups</label>
        <locationX>248</locationX>
        <locationY>15479</locationY>
        <connector>
            <targetReference>Update_NULL_Quote_Lines_Segment_8</targetReference>
        </connector>
        <inputReference>Segment8GroupDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_8_Past_Date_Quote_Line_Groups</name>
        <label>Delete Segment 8 Past Date Quote Line Groups</label>
        <locationX>248</locationX>
        <locationY>14471</locationY>
        <connector>
            <targetReference>Get_Segment_8_Quote_Line_Group</targetReference>
        </connector>
        <inputReference>Get_Segment_8_Past_Date_Quote_Line_Groups</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_8_Past_Date_Quote_Lines</name>
        <label>Delete Segment 8 Past Date Quote Lines</label>
        <locationX>248</locationX>
        <locationY>14063</locationY>
        <connector>
            <targetReference>Get_Segment_8_Past_Date_Quote_Line_Groups</targetReference>
        </connector>
        <inputReference>Get_Segment_8_Past_Date_Quote_Lines</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_9_Additional_Groups</name>
        <label>Delete Segment 9 Additional Groups</label>
        <locationX>248</locationX>
        <locationY>17411</locationY>
        <connector>
            <targetReference>Update_NULL_Quote_Lines_Segment_9</targetReference>
        </connector>
        <inputReference>Segment9GroupDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_9_Past_Date_Quote_Line_Groups</name>
        <label>Delete Segment 9 Past Date Quote Line Groups</label>
        <locationX>248</locationX>
        <locationY>16403</locationY>
        <connector>
            <targetReference>Get_Segment_9_Quote_Line_Group</targetReference>
        </connector>
        <inputReference>Get_Segment_9_Past_Date_Quote_Line_Groups</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Segment_9_Past_Date_Quote_Lines</name>
        <label>Delete Segment 9 Past Date Quote Lines</label>
        <locationX>248</locationX>
        <locationY>15995</locationY>
        <connector>
            <targetReference>Get_Segment_9_Past_Date_Quote_Line_Groups</targetReference>
        </connector>
        <inputReference>Get_Segment_9_Past_Date_Quote_Lines</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Current_Year_Group_Segment_1</name>
        <label>Get Current Year Group Segment 1</label>
        <locationX>380</locationX>
        <locationY>19643</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Segment_1_Start_Date_Quote_Start_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <sortField>SBQQ__StartDate__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Lines</name>
        <label>Get Quote Lines</label>
        <locationX>182</locationX>
        <locationY>20267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_of_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_10_Past_Date_Quote_Line_Groups</name>
        <label>Get Segment 10 Past Date Quote Line Groups</label>
        <locationX>380</locationX>
        <locationY>18119</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Segment_10_Past_Date_Quote_Line_Groups_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 10</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__StartDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_True_End_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_10_Past_Date_Quote_Lines</name>
        <label>Get Segment 10 Past Date Quote Lines</label>
        <locationX>380</locationX>
        <locationY>17711</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Segment_10_Past_Date_Quote_Lines_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Label_Formula__c</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>SBQQ__EffectiveStartDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Quote_Line_Group_End_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_10_Quote_Line_Group</name>
        <label>Get Segment 10 Quote Line Group</label>
        <locationX>380</locationX>
        <locationY>18527</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Groups_of_Segment_10</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 10</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_1_Past_Date_Quote_Line_Groups</name>
        <label>Get Segment 1 Past Date Quote Line Groups</label>
        <locationX>380</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Segment_1_Past_Date_Quote_Line_Groups_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 1</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__StartDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_True_End_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_1_Past_Date_Quote_Lines</name>
        <label>Get Segment 1 Past Date Quote Lines</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Segment_1_Past_Date_Quote_Lines_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Label_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 1</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__EffectiveStartDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Quote_Line_Group_End_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_1_Quote_Line_Group</name>
        <label>Get Segment 1 Quote Line Group</label>
        <locationX>380</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Groups_of_Segment_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_2_Past_Date_Quote_Line_Groups</name>
        <label>Get Segment 2 Past Date Quote Line Groups</label>
        <locationX>380</locationX>
        <locationY>2663</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Segment_2_Past_Date_Quote_Line_Groups_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 2</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__StartDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_True_End_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_2_Past_Date_Quote_Lines</name>
        <label>Get Segment 2 Past Date Quote Lines</label>
        <locationX>380</locationX>
        <locationY>2255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Segment_2_Past_Date_Quote_Lines_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Label_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 2</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__EffectiveStartDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Quote_Line_Group_End_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_2_Quote_Line_Group</name>
        <label>Get Segment 2 Quote Line Group</label>
        <locationX>380</locationX>
        <locationY>3071</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Groups_of_Segment_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_3_Past_Date_Quote_Line_Groups</name>
        <label>Get Segment 3 Past Date Quote Line Groups</label>
        <locationX>380</locationX>
        <locationY>4595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Segment_3_Past_Date_Quote_Line_Groups_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 3</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__StartDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_True_End_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_3_Past_Date_Quote_Lines</name>
        <label>Get Segment 3 Past Date Quote Lines</label>
        <locationX>380</locationX>
        <locationY>4187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Segment_3_Past_Date_Quote_Lines_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Label_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 3</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__EffectiveStartDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Quote_Line_Group_End_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_3_Quote_Line_Group</name>
        <label>Get Segment 3 Quote Line Group</label>
        <locationX>380</locationX>
        <locationY>5003</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Groups_of_Segment_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 3</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_4_Past_Date_Quote_Line_Groups</name>
        <label>Get Segment 4 Past Date Quote Line Groups</label>
        <locationX>380</locationX>
        <locationY>6527</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Segment_4_Past_Date_Quote_Line_Groups_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 4</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__StartDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_True_End_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_4_Past_Date_Quote_Lines</name>
        <label>Get Segment 4 Past Date Quote Lines</label>
        <locationX>380</locationX>
        <locationY>6119</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Segment_4_Past_Date_Quote_Lines_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Label_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 4</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__EffectiveStartDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Quote_Line_Group_End_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_4_Quote_Line_Group</name>
        <label>Get Segment 4 Quote Line Group</label>
        <locationX>380</locationX>
        <locationY>6935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Groups_of_Segment_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 4</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_5_Past_Date_Quote_Line_Groups</name>
        <label>Get Segment 5 Past Date Quote Line Groups</label>
        <locationX>380</locationX>
        <locationY>8459</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Segment_5_Past_Date_Quote_Line_Groups_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 5</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__StartDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_True_End_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_5_Past_Date_Quote_Lines</name>
        <label>Get Segment 5 Past Date Quote Lines</label>
        <locationX>380</locationX>
        <locationY>8051</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Segment_5_Past_Date_Quote_Lines_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Label_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 5</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__EffectiveStartDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Quote_Line_Group_End_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_5_Quote_Line_Group</name>
        <label>Get Segment 5 Quote Line Group</label>
        <locationX>380</locationX>
        <locationY>8867</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Groups_of_Segment_5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 5</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_6_Past_Date_Quote_Line_Groups</name>
        <label>Get Segment 6 Past Date Quote Line Groups</label>
        <locationX>380</locationX>
        <locationY>10391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Segment_6_Past_Date_Quote_Line_Groups_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 6</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__StartDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_True_End_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_6_Past_Date_Quote_Lines</name>
        <label>Get Segment 6 Past Date Quote Lines</label>
        <locationX>380</locationX>
        <locationY>9983</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Segment_6_Past_Date_Quote_Lines_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Label_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 6</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__EffectiveStartDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Quote_Line_Group_End_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_6_Quote_Line_Group</name>
        <label>Get Segment 6 Quote Line Group</label>
        <locationX>380</locationX>
        <locationY>10799</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Groups_of_Segment_6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 6</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_7_Past_Date_Quote_Line_Groups</name>
        <label>Get Segment 7 Past Date Quote Line Groups</label>
        <locationX>380</locationX>
        <locationY>12323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Segment_7_Past_Date_Quote_Line_Groups_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 7</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__StartDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_True_End_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_7_Past_Date_Quote_Lines</name>
        <label>Get Segment 7 Past Date Quote Lines</label>
        <locationX>380</locationX>
        <locationY>11915</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Segment_7_Past_Date_Quote_Lines_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Label_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 7</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__EffectiveStartDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Quote_Line_Group_End_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_7_Quote_Line_Group</name>
        <label>Get Segment 7 Quote Line Group</label>
        <locationX>380</locationX>
        <locationY>12731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Groups_of_Segment_7</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 7</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_8_Past_Date_Quote_Line_Groups</name>
        <label>Get Segment 8 Past Date Quote Line Groups</label>
        <locationX>380</locationX>
        <locationY>14255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Segment_8_Past_Date_Quote_Line_Groups_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 8</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__StartDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_True_End_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_8_Past_Date_Quote_Lines</name>
        <label>Get Segment 8 Past Date Quote Lines</label>
        <locationX>380</locationX>
        <locationY>13847</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Segment_8_Past_Date_Quote_Lines_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Label_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 8</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__EffectiveStartDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Quote_Line_Group_End_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_8_Quote_Line_Group</name>
        <label>Get Segment 8 Quote Line Group</label>
        <locationX>380</locationX>
        <locationY>14663</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Groups_of_Segment_8</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 8</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_9_Past_Date_Quote_Line_Groups</name>
        <label>Get Segment 9 Past Date Quote Line Groups</label>
        <locationX>380</locationX>
        <locationY>16187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Segment_9_Past_Date_Quote_Line_Groups_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 9</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__StartDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_True_End_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_9_Past_Date_Quote_Lines</name>
        <label>Get Segment 9 Past Date Quote Lines</label>
        <locationX>380</locationX>
        <locationY>15779</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Segment_9_Past_Date_Quote_Lines_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Label_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 9</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__EffectiveStartDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Quote_Line_Group_End_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segment_9_Quote_Line_Group</name>
        <label>Get Segment 9 Quote Line Group</label>
        <locationX>380</locationX>
        <locationY>16595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Groups_of_Segment_9</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment 9</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Amendment_Quote</name>
        <label>Update Amendment Quote</label>
        <locationX>380</locationX>
        <locationY>20051</locationY>
        <connector>
            <targetReference>Debook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>NF_Accounting_Contact__c</field>
            <value>
                <elementReference>$Record.SBQQ__MasterContract__r.NF_Accounting_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NF_Escalation__c</field>
            <value>
                <elementReference>$Record.SBQQ__MasterContract__r.SBQQ__Quote__r.NF_Escalation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NF_Quote_Line_Groups_Updated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ContractingMethod__c</field>
            <value>
                <stringValue>Single Contract</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NULL_Quote_Lines_Segment_1</name>
        <label>Update NULL Quote Lines Segment 1</label>
        <locationX>248</locationX>
        <locationY>2063</locationY>
        <connector>
            <targetReference>Get_Segment_2_Past_Date_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Group__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Segment1GroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index_Formula__c</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <field>SBQQ__Group__c</field>
            <value>
                <elementReference>Segment1GroupId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NULL_Quote_Lines_Segment_10</name>
        <label>Update NULL Quote Lines Segment 10</label>
        <locationX>248</locationX>
        <locationY>19451</locationY>
        <connector>
            <targetReference>Get_Current_Year_Group_Segment_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Group__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Segment10GroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index_Formula__c</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <field>SBQQ__Group__c</field>
            <value>
                <elementReference>Segment10GroupId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NULL_Quote_Lines_Segment_2</name>
        <label>Update NULL Quote Lines Segment 2</label>
        <locationX>248</locationX>
        <locationY>3995</locationY>
        <connector>
            <targetReference>Get_Segment_3_Past_Date_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Group__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Segment2GroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index_Formula__c</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <field>SBQQ__Group__c</field>
            <value>
                <elementReference>Segment2GroupId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NULL_Quote_Lines_Segment_3</name>
        <label>Update NULL Quote Lines Segment 3</label>
        <locationX>248</locationX>
        <locationY>5927</locationY>
        <connector>
            <targetReference>Get_Segment_4_Past_Date_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Group__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Segment3GroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index_Formula__c</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <field>SBQQ__Group__c</field>
            <value>
                <elementReference>Segment3GroupId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NULL_Quote_Lines_Segment_4</name>
        <label>Update NULL Quote Lines Segment 4</label>
        <locationX>248</locationX>
        <locationY>7859</locationY>
        <connector>
            <targetReference>Get_Segment_5_Past_Date_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Group__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Segment4GroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index_Formula__c</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <field>SBQQ__Group__c</field>
            <value>
                <elementReference>Segment4GroupId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NULL_Quote_Lines_Segment_5</name>
        <label>Update NULL Quote Lines Segment 5</label>
        <locationX>248</locationX>
        <locationY>9791</locationY>
        <connector>
            <targetReference>Get_Segment_6_Past_Date_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Group__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Segment5GroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index_Formula__c</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <field>SBQQ__Group__c</field>
            <value>
                <elementReference>Segment5GroupId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NULL_Quote_Lines_Segment_6</name>
        <label>Update NULL Quote Lines Segment 6</label>
        <locationX>492</locationX>
        <locationY>11639</locationY>
        <connector>
            <targetReference>Loop_Segment_6_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Group__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Segment6GroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index_Formula__c</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <field>SBQQ__Group__c</field>
            <value>
                <elementReference>Segment6GroupId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NULL_Quote_Lines_Segment_7</name>
        <label>Update NULL Quote Lines Segment 7</label>
        <locationX>248</locationX>
        <locationY>13655</locationY>
        <connector>
            <targetReference>Get_Segment_8_Past_Date_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Group__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Segment7GroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index_Formula__c</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <field>SBQQ__Group__c</field>
            <value>
                <elementReference>Segment7GroupId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NULL_Quote_Lines_Segment_8</name>
        <label>Update NULL Quote Lines Segment 8</label>
        <locationX>248</locationX>
        <locationY>15587</locationY>
        <connector>
            <targetReference>Get_Segment_9_Past_Date_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Group__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Segment8GroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index_Formula__c</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <field>SBQQ__Group__c</field>
            <value>
                <elementReference>Segment8GroupId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NULL_Quote_Lines_Segment_9</name>
        <label>Update NULL Quote Lines Segment 9</label>
        <locationX>248</locationX>
        <locationY>17519</locationY>
        <connector>
            <targetReference>Get_Segment_10_Past_Date_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Group__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Segment9GroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_Group_Segment_Index_Formula__c</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <field>SBQQ__Group__c</field>
            <value>
                <elementReference>Segment9GroupId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Lines</name>
        <label>Update Quote Lines</label>
        <locationX>50</locationX>
        <locationY>20999</locationY>
        <inputReference>QuoteLineRecordVariable</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Segment_1_Quote_Line_Group</name>
        <label>Update Segment 1 Quote Line Group</label>
        <locationX>248</locationX>
        <locationY>19859</locationY>
        <connector>
            <targetReference>Update_Amendment_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Year_Group_Segment_1.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NF_Current_Year_Group__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GroupName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__EndDate__c</field>
            <value>
                <elementReference>Get_Current_Year_Group_Segment_1.NF_True_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__StartDate__c</field>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionTerm__c</field>
        </inputAssignments>
        <object>SBQQ__QuoteLineGroup__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Segment_1_Quote_Line_Group_Default</name>
        <label>Update Segment 1 Quote Line Group Default</label>
        <locationX>512</locationX>
        <locationY>19859</locationY>
        <connector>
            <targetReference>Update_Amendment_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Year_Group_Segment_1.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NF_Current_Year_Group__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GroupName</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLineGroup__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Segment_1_Past_Date_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </filters>
        <filters>
            <field>QLGRenewAmend__Has_Groups__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NF_Quote_Line_Groups_Updated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>QuoteLineCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QuoteLineRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>Segment10GroupCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Segment10GroupDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLineGroup__c</objectType>
    </variables>
    <variables>
        <name>Segment10GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Segment1GroupCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Segment1GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Segment1GroupsDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLineGroup__c</objectType>
    </variables>
    <variables>
        <name>Segment2GroupCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Segment2GroupDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLineGroup__c</objectType>
    </variables>
    <variables>
        <name>Segment2GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Segment3GroupCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Segment3GroupDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLineGroup__c</objectType>
    </variables>
    <variables>
        <name>Segment3GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Segment4GroupCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Segment4GroupDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLineGroup__c</objectType>
    </variables>
    <variables>
        <name>Segment4GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Segment5GroupCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Segment5GroupDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLineGroup__c</objectType>
    </variables>
    <variables>
        <name>Segment5GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Segment6GroupCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Segment6GroupDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLineGroup__c</objectType>
    </variables>
    <variables>
        <name>Segment6GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Segment7GroupCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Segment7GroupDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLineGroup__c</objectType>
    </variables>
    <variables>
        <name>Segment7GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Segment8GroupCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Segment8GroupDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLineGroup__c</objectType>
    </variables>
    <variables>
        <name>Segment8GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Segment9GroupCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Segment9GroupDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLineGroup__c</objectType>
    </variables>
    <variables>
        <name>Segment9GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
