force-app/main/default/flows/NF_Subscription_Update_Renewal_Price.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_ARE_Subscription_False</name>
        <label>Assign ARE Subscription = False</label>
        <locationX>138</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>ARESubscriptionFalse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_ARE_Subscriptions_False</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ARE_Subscriptions_False</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ARE_Subscription_False_Renewal_Price</name>
        <label>Assign ARE Subscription = False Renewal Price</label>
        <locationX>138</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>Loop_ARE_Subscriptions_False.SBQQ__RenewalPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ARE_Subscription_True_Net_Price.SBQQ__NetPrice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_ARE_Subscription_False</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ARE_Subscription_True</name>
        <label>Assign ARE Subscription = True</label>
        <locationX>270</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>ARESubscriptionTrue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_ARE_Subscriptions_True</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ARE_Subscriptions_True</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ARE_Subscription_True_Renewal_Price</name>
        <label>Assign ARE Subscription = True Renewal Price</label>
        <locationX>270</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>Loop_ARE_Subscriptions_True.SBQQ__RenewalPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ARE_Subscriptions_True.SBQQ__NetPrice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_ARE_Subscription_True</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LastGroupProductID</name>
        <label>Assign LastGroupProductID</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>LastGroupID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Last_Subscriptions.SBQQ__ProductOption__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Last_Subscriptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Renewal_Price</name>
        <label>Assign Renewal Price</label>
        <locationX>270</locationX>
        <locationY>2603</locationY>
        <assignmentItems>
            <assignToReference>Loop_Subscriptions.SBQQ__RenewalPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Subscriptions.SBQQ__NetPrice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection_of_Subscription</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Renewal_Price_2</name>
        <label>Assign Renewal Price (2)</label>
        <locationX>534</locationX>
        <locationY>2711</locationY>
        <assignmentItems>
            <assignToReference>Loop_Subscriptions.SBQQ__RenewalPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Non_ARE_Subscription.SBQQ__NetPrice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection_of_Subscription</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collection_of_Subscription</name>
        <label>Collection of Subscription</label>
        <locationX>402</locationX>
        <locationY>2903</locationY>
        <assignmentItems>
            <assignToReference>Subscriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Subscriptions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Subscriptions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ARE_Subscription_Present</name>
        <label>ARE Subscription Present?</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Get_Non_ARE_Subscription_from_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ARESubscriptionTrue</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ARE_Subscriptions_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_End_Date</name>
        <label>Evaluate End Date</label>
        <locationX>402</locationX>
        <locationY>2495</locationY>
        <defaultConnector>
            <targetReference>Get_Latest_Non_ARE_Subscription</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contract End Date NOT EQUAL Subscription End Date</defaultConnectorLabel>
        <rules>
            <name>Contract_End_Date_EQUAL_Subscription_End_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Subscriptions.SBQQ__SubscriptionEndDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Subscriptions.SBQQ__Contract__r.EndDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Renewal_Price</targetReference>
            </connector>
            <label>Contract End Date EQUAL Subscription End Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscriptions_Present</name>
        <label>Subscriptions Present</label>
        <locationX>182</locationX>
        <locationY>3095</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Subscripton_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Subscriptions</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Non_ARE_Subscriptions</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Sets Renewal Price/quantity on Subscription to the latest Subscriptions Renewal Price and Quantity</description>
    <environments>Default</environments>
    <interviewLabel>Subscription: Update Renewal Price {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subscription: Update Renewal Price</label>
    <loops>
        <name>Loop_ARE_Subscriptions_False</name>
        <label>Loop ARE Subscriptions = False</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <collectionReference>Get_ARE_Subscription_False_from_Contract</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_ARE_Subscription_True_Net_Price</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_ARE_Subscriptions_False</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_ARE_Subscriptions_True</name>
        <label>Loop ARE Subscriptions = True</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <collectionReference>Get_ARE_Subscription_True_from_Contract</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ARE_Subscription_True_Renewal_Price</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ARE_Subscription_Present</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Last_Subscriptions</name>
        <label>Loop Last Subscriptions</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Last_Subscription</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_LastGroupProductID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_ARE_Subscription_True_from_Contract</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Subscriptions</name>
        <label>Loop Subscriptions</label>
        <locationX>182</locationX>
        <locationY>2387</locationY>
        <collectionReference>Get_Non_ARE_Subscription_from_Contract</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Evaluate_End_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Subscriptions_Present</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ARE_Subscription_False_from_Contract</name>
        <label>Get ARE Subscription = False from Contract</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_ARE_Subscriptions_False</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductOption__c</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>LastGroupID</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_ARE_Subscription__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <sortField>SBQQ__SubscriptionEndDate__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ARE_Subscription_True_from_Contract</name>
        <label>Get ARE Subscription = True from Contract</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_ARE_Subscriptions_True</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductOption__c</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>LastGroupID</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_ARE_Subscription__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ARE_Subscription_True_Net_Price</name>
        <label>Get ARE Subscription = True Net Price</label>
        <locationX>138</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_ARE_Subscription_False_Renewal_Price</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductOption__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_ARE_Subscriptions_False.SBQQ__ProductOption__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NF_ARE_Subscription__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_Subscription</name>
        <label>Get Last Subscription</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Last_Subscriptions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__EndDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EndDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Non_ARE_Subscription</name>
        <label>Get Latest Non-ARE Subscription</label>
        <locationX>534</locationX>
        <locationY>2603</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Renewal_Price_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductOption__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Subscriptions.SBQQ__ProductOption__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__EndDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EndDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <sortField>SBQQ__SubscriptionEndDate__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Non_ARE_Subscription_from_Contract</name>
        <label>Get Non-ARE Subscription from Contract</label>
        <locationX>182</locationX>
        <locationY>2279</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Subscriptions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductOption__c</field>
            <operator>In</operator>
            <value>
                <elementReference>LastGroupID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ARE_Subscriptions_False</name>
        <label>Update ARE Subscriptions False</label>
        <locationX>50</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Get_Non_ARE_Subscription_from_Contract</targetReference>
        </connector>
        <inputReference>ARESubscriptionFalse</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ARE_Subscriptions_True</name>
        <label>Update ARE Subscriptions True</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Get_ARE_Subscription_False_from_Contract</targetReference>
        </connector>
        <inputReference>ARESubscriptionTrue</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Non_ARE_Subscriptions</name>
        <label>Update Non-ARE Subscriptions</label>
        <locationX>50</locationX>
        <locationY>3203</locationY>
        <inputReference>Subscriptions</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Last_Subscription</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ARESubscriptionFalse</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Subscription__c</objectType>
    </variables>
    <variables>
        <name>ARESubscriptionTrue</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Subscription__c</objectType>
    </variables>
    <variables>
        <name>ARESubsProductIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountofARESubscription</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>LastGroupID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Subscriptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Subscription__c</objectType>
    </variables>
</Flow>
